[2017-02-21 16:41] CandyFace commented on #582
You are more than welcome. I'm done for today since I can't get Travis to get access to my git, to make a release and upload it.

[2017-02-21 20:05] CandyFace commented on #603
New smudge icon:
![smudge](https://cloud.githubusercontent.com/assets/1045397/23182607/76afb678-f879-11e6-9234-7c69aa89535d.png)
![smudge 2x](https://cloud.githubusercontent.com/assets/1045397/23182608/76dc34a0-f879-11e6-9a76-84e544a8900f.png)
![smudge 3x](https://cloud.githubusercontent.com/assets/1045397/23182609/76df0086-f879-11e6-80c4-b63033848373.png)

[2017-02-22 03:35] martinvanzijl opened #612 "Exporting images with no camera layer crashes Pencil (.PCL files only)"
### --Issue Summary--
When I open a .PCL (old) animation, if I use _File --> Export --> Image..._ Pencil crashes if there is no camera layer.

This is only applicable for animations made with older versions of Pencil. With the new version of Pencil, you can't delete the last camera layer.

(NOTE: I'm working on a fix. Will be useful for people like me who still have a lot of .PCL animations.)

###

[2017-02-22 05:45] chchwy commented on #607
Actually I don't know what GEGL is for, so I cannot comment on this. Could anyone tell me what it is?

[2017-02-22 06:18] J5lx commented on #607
It’s an image processing library. AFAIK its development is driven by GIMP developers and it’s intended to power the core operations of that program eventually. I think it’s still an ongoing effort, but I have no idea how far the library itself has come already.

[2017-02-22 06:21] J5lx commented on #607
(IOW, I think Pencil is supposed to use it to provide more advanced editing (effects?) features.)

[2017-02-22 06:35] Jose-Moreno commented on #607
This could be interesting, however I think that despite some very minor effects we must always strive to make Pencil2D as simple and as efficient as possible to fulfill it's purpose.

Let's think in simple terms. We need the software to create animation.  If we need compositing, color adjustment, or anything that has to do with image processing we can use a dedicated compositor for our animated se

[2017-02-22 06:38] Jose-Moreno commented on #607
As a side note we should look into Boris' real VPaint software since it has a great vector drawing paradigm. This only to strenghten Pencil2D's vector drawing. https://github.com/dalboris/vpaint

It's that or to take a look into OpenToonz considering they are also using QT and C++ as far as I know.

[2017-02-22 11:48] vpaintanimation commented on #607
Pencil2d chose the GPL protocol, and vpaint chose the MIT protocol, both seem incompatible.

[2017-02-22 14:29] Jose-Moreno commented on #607
No, MIT License is GPL-compatible.

https://en.wikipedia.org/wiki/License_compatibility#GPL_compatibility

And when I said Pencil2D should look into vpaint vector tools, I meant it only as a review. I've tested vpaint in the past and although it has a great vector drawing capability, it also has a completely different philosophy on how time and space affects the way drawings are represented on the

[2017-02-23 12:32] CandyFace commented on #565
I've tested this numerous of times while working on #611 and I can't replicate this bug anymore. I'd say it's been fixed. Great work @martinvanzijl

[2017-02-23 12:45] CandyFace commented on #553
As far as I can see, nothing is being distorted. What seems to be the issue here, is that the camera border is taking up 1 pixel all around of the canvas, therefore making the pink image border look shaded.
![border problem](https://cloud.githubusercontent.com/assets/1045397/23259594/2bcabab2-f9ce-11e6-9d9d-4f3d2af2a183.png)

[2017-02-23 13:22] CandyFace commented on #553
This should be fixed now, review when PR has been merged.

[2017-02-23 16:08] Jose-Moreno commented on #603
@CandyFace I think every icon you've presented so far works fantastic except for those that involve realistic human parts. That's why usually there's this "cartoon glove" kind of thing on most software.

By themselves they look like great illustrations, but as an icon I think it's better to lean towards simplicity without details like nails and avoiding more than two (2) gradients or smooth render

[2017-02-23 16:20] CandyFace commented on #603
@Jose-Moreno Thanks for the feedback! Yes you are absolutely correct, they don't work as icons. I was never happy with them tbh. it was just to show progress but you are right. A glove would be nice although white is quite tricky to use without outlines, so for consistency sake I would prefer to not have them.

I'll try and see if I can make it work :)

[2017-02-23 21:44] CandyFace commented on #486
I've done exactly what @hankofficer mentioned, however even after removing the smoothing, the stroke interpolation is unchanged when using a tablet. When you use a mouse, it's gone.

[2017-02-24 04:59] Jose-Moreno opened #616 "[BUG] Pencil2D Vector Layer Stroke & Fill Incorrect Spline Interpolation"
### --Issue Summary--

The vector color fill is not working correctly. Outline and color fill are not synced. This was changed due to the tinkering that was made to the bucket fill to allow for "lazy brush" style of fill (where you can click and drag the bucket fill tool over and across a closed shape outline to fill it quickly)

### --Actual Results

The color fill is being interpolated linearly

[2017-02-26 03:34] #553 closed

[2017-02-26 12:51] J5lx commented on #582
Umm, if I’m to work on this script…

I suppose they should go to Google Drive like the current nightlies, but I’d really like to have some confirmation on that, so I don't invest work in something that won’t be used…

[2017-02-26 12:54] chchwy commented on #582
Thanks @J5lx, Google drive is good. Do you need me to provide anything?

[2017-02-26 22:20] J5lx commented on #582
I got it working now, so all that’s left is setting up the API access and integrating it with CI. Especially the API access part is quite tricky though, so I’ll post a detailed guide tomorrow.

[2017-02-26 22:24] Jose-Moreno commented on #582
@J5lx @chchwy @CandyFace Sorry to barge in like this but why Google Drive? why not use a more open platform to host the nightly builds? Also I requested to use github's release features a while ago, shouldn't that be more efficient? thoughts?

[2017-02-26 22:45] CandyFace commented on #582
While it is possible to use Github releases, as I mentioned earlier, it can clutter the release page a lot. What other open platform would you suggest? I am not against uploading to Github Releases but as @J5lx said, maybe we should only keep those uploads for actual releases and not for each build.

The thing is, bot Travis-C and AppVeyor uses different ways to deploy their files. From what I've

[2017-02-26 22:46] J5lx commented on #582
Mainly because that’s where nightly builds are already hosted right now. GitHub’s release feature is great for, well, releases, but it’s less than optimal for storing nightly builds (see [this comment](https://github.com/pencil2d/pencil/issues/582#issuecomment-281352583) and the next one). Most other Open Source project that provide nightly builds store them on their own server, most often via Jen

[2017-02-26 23:51] Jose-Moreno commented on #582
@J5lx @CandyFace @chchwy Very well! Then it's agreed that we'll continue to use Google Drive for tthe time being. I'll research other platforms just in case, but as I said on the script commit page,  this is fantastic work, it will surely open the way for more people to test the software in a more accessible manner. Thanks a lot to all!

[2017-02-27 22:19] CandyFace commented on #612
Can someone confirm that it's been fixed, so we can close this issue :)

[2017-02-28 05:56] Jose-Moreno commented on #612
@martinvanzijl @CandyFace I just updated with latest repo source and I tested this succesfully. The image was exported with the original size form the deleted camera (640 x 480) and didn't crash.

I tested this with both bitmap and vector layers. Funny thing is that when I made an additional stroke outside of the "perceived" camera bounding box, the exported image became larger, but when I deleted

[2017-02-28 08:28] CandyFace commented on #612
@Jose-Moreno  I removed an operation that caused the mouse position to be smoothed in one of my previous PR, that's probably why it's more direct now. I'm working on getting it implemented again, with new types of  interpolation and other things though. It will be possible to select interpolation strength now.

[2017-02-28 18:49] MatisHudon commented on #616
Hey  Jose.

I noticed this issue, this is also annoying me for the new tool I am working on.
I will try to fix it anytime soon. I will keep you updated.

Also, a bit off topic,  I noticed that you cannot fill a vector layer after loading it from a previous project. The issue is due to the fact that the size of the vector image "mSize" is not updated when the project is loaded.
I found a quick fix

[2017-03-01 14:06] Jose-Moreno commented on #616
@MatisHudon Hey! I'm not really wise about the programming side of Pencil2D, however perhaps if @feeef has some time he can explain what's missing upon his early implementation of the fill tool. We can also ask @chchwy for details and to review the implementation you propose. Thanks a lot for takign the time to review this too :)

[2017-03-01 21:07] J5lx commented on #582
Allright, setup guide’s ready: https://github.com/pencil2d/pencil/pull/617#issuecomment-283470017

[2017-03-02 04:46] Jose-Moreno opened #620 "[Request] Allow to import image sequences with adjustable frame spacing"
### --Issue Summary--

Right now importing an image sequence of any length **will import each image for every 2 frames**. This means it is imported on two's. This is useful on some cases when bringing frames drawn by hand, however the user should have the ability to choose if they want to import it on one's, two's, three's or a custom frame spacing between images.

### --Expected Results--

There

[2017-03-02 21:52] CandyFace commented on #620
Sounds like a good request, I'm going to work on this :)

[2017-03-03 04:29] Jose-Moreno commented on #620
@CandyFace Thanks a lot! Other animators had asked me for this but I was trying to put up a decent request before submitting.

[2017-03-03 14:29] CandyFace commented on #620
![test](https://cloud.githubusercontent.com/assets/1045397/23554591/139cbb58-0026-11e7-922a-6952329c320d.gif)

Alright should be done now. PR to be comitted soon :)

[2017-03-03 14:36] Jose-Moreno commented on #620
@CandyFace Awesome! also that hand icon looks quite great!

[2017-03-03 15:10] CandyFace commented on #603
Update:

Alright i've had some time to work on the icons again.. I've actually had a few of them done for a while now but... I'm just not sure I like them :P

anyway here's a few iterations of the hand icon. Shamelessly taken from @Jose-Moreno sketch because I like it :3

![hand skin](https://cloud.githubusercontent.com/assets/1045397/23555775/7d6b3fc4-002a-11e7-9720-9ae01f0de5b0.png)
![hand skin

[2017-03-03 15:30] CandyFace commented on #609
Tested, it works great. Good job :)

[2017-03-03 22:51] mangeurdenuage opened #622 "Free software directory license auditing"
### --Issue Summary--
Hello I am giving a hand for the Free Software directory (FSD).
https://directory.fsf.org/wiki/Main_Page
And I was doing a collection of software tools that are meant for art purposes.

I stumbled on pencil and was gladly surprise by it so I began to audit it to see if I could add pencil to the directory and into the said collection but unfortunately for now pencil doesn't ha

[2017-03-04 04:41] Jose-Moreno commented on #622
@mangeurdenuage Hi. So far, we'd have to see what's the status on each individual license. This might take some time, since most of the volunteers are busy, including myself, and we don't have an stablished "core team" per say.

Hopefully we can bring this to clarity in a timely manner. Thanks for taking interest in the project and for looking to protect those who code it and use it as well.

[2017-03-10 20:07] mangeurdenuage commented on #622
Hello,
Thank you for your response.
--we'd have to see what's the status on each individual license--
I have seen some files are under the copyright of one of the developers of synfig if I don't mistake.
They have been update to GPLv2+

-This might take some time,-
I know and understand, if you need help with clarification about licenses please do ask whenever you want I know there are a lot of mi

[2017-03-11 03:36] mangeurdenuage commented on #607
@vpaintanimation
Like " Jose-Moreno " said the GPL is compatible with the MIT license because the MIt license is a permissive one.
Their are very few free software licenses that aren't compatible with the GPL.
MIT and BSD are permissive licence.

Permissive means that the license lets people do anything without restrictions.
That also means letting people do bad things.
For example the MIT or BSD

[2017-03-29 13:40] LukeVideo commented on #580
The other way around it fails to. I tried to install pencil after pencil2D and it failed because of the conflict.
[code]

and

[code]

[2017-04-02 17:28] CandyFace commented on #582
PR for integrating @J5lx script with travis is up #627

[2017-04-07 12:49] CandyFace commented on #603
Last icons done
arrow tool:
![arrow](https://cloud.githubusercontent.com/assets/1045397/24800503/b2f3bb62-1ba0-11e7-81c8-d0c183d396ae.png)
![arrow 2x](https://cloud.githubusercontent.com/assets/1045397/24800504/b314f8cc-1ba0-11e7-9f40-e645674788cc.png)
![arrow 3x](https://cloud.githubusercontent.com/assets/1045397/24800505/b3168f3e-1ba0-11e7-97bd-25eca6e02417.png)

selection tool:

brush tool:
![b

[2017-04-07 12:57] J5lx commented on #603
I think the clear tool looks like some kind of rock. The others are good though. I wonder what symbol other programs use for ‘clear’.

[2017-04-07 12:59] CandyFace commented on #603
As far as most drawing applications i've used, they don't have a clear tool, it's usually an action which hidden in the menu. I do agree though that it can resemble a rock. I can make it brighter, maybe that'll help.

[2017-04-07 13:16] J5lx commented on #603
For reference, GIMP has this (in menu):
![screenshot from 2017-04-07 15-05-01](https://cloud.githubusercontent.com/assets/2063777/24801268/c3c12440-1ba3-11e7-9d82-148effa4666f.png)
But it’s true that most software does not seem to have a symbol for that. Blender at least has a × to clear input fields but of course canvas ≠ input field.

[2017-04-07 13:50] CandyFace commented on #603
So what about a trashcan?
![clear](https://cloud.githubusercontent.com/assets/1045397/24802906/d71b7b5c-1ba9-11e7-907b-8d84de61c701.png)
![clear 2x](https://cloud.githubusercontent.com/assets/1045397/24802907/d736e400-1ba9-11e7-8166-06b836450221.png)
![clear 3x](https://cloud.githubusercontent.com/assets/1045397/24802908/d737741a-1ba9-11e7-87a2-eefcb9f3235c.png)

It's simple and we've all seen one

[2017-04-07 14:38] J5lx commented on #603
Yeah, I think it’s a good option. Maybe a little more texture would be good (like the three, uh, vertical lines in [this symbolic one](http://fontawesome.io/icon/trash-o/)), but I think even the current one is already sufficiently recognizable (apart from that backdrop issue you noted).

[2017-04-07 15:58] Jose-Moreno commented on #603
@CandyFace Thanks a lot for your work. I think the trashcan works. The symbol that Jakob describes could work but I see it more as those stereotypical trash cans from a big U.S city resting on an alley from the 80's hehe.

A recycle symbol could help solve the issue of identifying the element even if we dismissed the trash can completely. And we're being eco-friendly lol.

On the matter of the blu

[2017-04-07 16:21] J5lx commented on #603
@Jose-Moreno Well, stereotypical means that it will be recognized :) Also I’m not insisting on exactly that design, it was just one possible example (though possibly the most common one). I think a recycle symbol would be more ambiguous than an 80s US trash can :)

Besides that, I agree that the version in edit 2 works well!

On the matter of flat vs. gradients, maybe icon themes à la GIMP (Edit/P

[2017-04-07 16:32] CandyFace commented on #603
Thanks guys!

@Jose-Moreno
Alright, i'll try to make the icons flat, i'm not so sure about a cartoon outline but i'll make two versions anyway, then you guys can judge.

@J5lx yeah themes would be cool, but it's definitely a task for another time. The implementation shouldn't be that bad though, insert a new tab (or add to the general tab) in the preferences window, add a dropdown menu to choose b

[2017-04-07 19:53] CandyFace commented on #603
@Jose-Moreno Here are two flat versions, the second is outlined.

flat version:
![pen flat](https://cloud.githubusercontent.com/assets/1045397/24815926/4e17d110-1bd7-11e7-9ccd-3028bb6bcf25.png)
![pen flat 2x](https://cloud.githubusercontent.com/assets/1045397/24815930/4e3a857a-1bd7-11e7-9481-a3989f943f24.png)
![pen flat 3x](https://cloud.githubusercontent.com/assets/1045397/24815933/4e3bb30a-1bd7-

[2017-04-07 22:04] CandyFace commented on #532
Personally prefer the old icon, which looks much better on Mac.
It looks like a bad scaling job, that's either automated or just done poorly by hand.
![icon](https://cloud.githubusercontent.com/assets/1045397/24821299/23d4c0ae-1bee-11e7-8a05-a9705be93f71.png)

I'll look into it.

[2017-04-07 22:45] Jose-Moreno commented on #532
@CandyFace I have the source file for that logo. I removed the circles and uploaded an svg for you to tinker with.

I didn't dislike the old Logo since It appear to be hand drawn but for the sake of updating and ease of use as a brand I went for a more vector look despite that. I did try to maintain the overall shape and details such as the shade and planes of the pencil though.

Anyway here it is

[2017-04-07 23:08] Jose-Moreno commented on #603
@CandyFace I liked how it the outline makes it pop. However I think if we were to test that route further there should still be "flat shadows" as well to help enhance the volume, For example on the eraser the bottom planes could be a slightly darker color to give that sense and so on.

Looking at them, I continue to believe you nailed the shapes, now it's just a matter of providing enough detail f

[2017-04-08 01:11] J5lx commented on #603
I think a grid-like structure might also work for the waste bin, somewhat like [here](http://i.stack.imgur.com/BVG7e.png). Basically just any kind of texture, as I mentioned before. (That’s not saying something else can’t do the job, though.)

[2017-04-08 08:30] CandyFace commented on #532
[modified_pencil_icon_by_morr.svg.zip](https://github.com/pencil2d/pencil/files/907306/modified_pencil_icon_by_morr.svg.zip)

![modified_pencil_icon_by_morr](https://cloud.githubusercontent.com/assets/1045397/24827090/7b61d2f2-1c44-11e7-9355-b9a012ea541e.png)

Alright if we're going the svg route for the icon too, then i'm okay with that. I've some changes though, mainly to make the colors more re

[2017-04-08 08:52] CandyFace commented on #603
About the trashcan/bin icon, I think you're putting too much thought into it. Logically there's no reason why a glass would be there. The icon resembles the bin you've seen on windows and mac. As for the lid idea, that would be more for a trashcan with garbage and stuff, this is supposed to resemble those you have in an office for paper and such and they usually don't have a lid, at least not here

[2017-04-08 13:28] CandyFace commented on #603
@Jose-Moreno
Okay here's a slightly more shaded version, I wouldn't call it flat though but it's definitely simplified.
I've also added some inward curved bevels or (three vertical lines :P) to the bin icon.
![brush flat_outline](https://cloud.githubusercontent.com/assets/1045397/24829245/aaf8ee7c-1c6e-11e7-8a6f-898b483992fd.png)
![brush flat_outline 2x](https://cloud.githubusercontent.com/assets/

[2017-04-09 17:06] Projectashgreninja opened #635 "[request] More stable pencil2d downloads."
The only versions of pencil 2d are the unstable ones and when I click on the more stable and older version it takes me to dropbox and now I'm left with unstable, not responding, crashing  windows version. I want the more stable version of pencil 2d.

[2017-04-09 17:18] Jose-Moreno commented on #635
@Projectashgreninja I'm sorry but older versions are actually not stable anymore and have a lot of bugs that have already been fixed, particularly on newer systems.

The Nightly Build for November 2016 might be the most stable to date, and I can  personally attest to that because I made a long new year's animation recently without a single crash.

Of course Pencil2D is an on going project and more

[2017-04-09 17:21] Jose-Moreno commented on #635
@chchwy Is there any way we can have a proper binary to allow people to download? I proposed that here #584 but no one commented on it. I had to divert people form downloading the old 0.5.4 dev version because it's already too old, and a lot of fixes have been implemented since then.

I think that despite whatever issue, we can release an interstitial version, while we continue to refine the progr

[2017-04-09 17:23] Projectashgreninja commented on #635
I'm okay with it

[2017-04-09 20:19] CandyFace commented on #603
+ More tweaking,
+ new trash icon, now with recycle logo instead of bevelling.
+ colored outline, not just brown anymore.

All icons has been cleaned up and should be ready now. I'll do another check tomorrow, just to see whether my eyes are not deceiving me, if they're not, then i'll probably upload svg + png tomorrow or one of the upcoming days.

![screen shot 2017-04-09 at 22 11 27](https://clo

[2017-04-09 20:41] CandyFace commented on #584
Hmm this is a tough one because it's a problem that persists in almost any open source community. I'm usually against encouraging users to grab nightly builds, because they tend to be more unstable, even if they have plenty of fixes. They're meant to be experimental releases used by developers and users that aren't afraid of bugs.

Even if we put out a interstitial version though, it's still possi

[2017-04-09 21:28] Jose-Moreno commented on #584
@CandyFace True. Although to be fair before I began promoting heavily the Nightly Builds, I had to explain every single time that certain bugs were fixed a long time ago. Like that bug with the red coloring where everything was red, and even I had to make a crash prevention guide just so people wouldn't barge into the forum crying over their lost data. But it still happened haha.

I didn't want to

[2017-04-09 22:58] CandyFace commented on #584
Alright, we're not removing the binary then, what you've written seems sufficient anyway.

About the development, it can always get better, that's how it is with community development, it's up and down and takes time because development is not constant. To get more up to speed with what needs to be done and what's fixed, I asked chchwy today whether I could join the organisation, mainly to update

[2017-04-10 01:40] Jose-Moreno commented on #584
@CandyFace Ah, you're right. I didn't know at the time. So it's only compatible with 10.9 and above? I thought it was 10.7+ Would you mind to clear that up, so I can specify that? Thanks a lot for helping out, and I agree this is a community effort.

Hopefully we just can get more people on board to help out, but I suppose that to do that we would require a dedicated organization, like a foundatio

[2017-04-10 07:25] CandyFace commented on #584
The documentation mentions that it's from 10.9 and up now, http://doc.qt.io/qt-5/supported-platforms.html

Ah I see, I'll take a look at that thread.

[2017-04-10 07:29] CandyFace commented on #595
This was fixed with #599, so i'm closing this issue.

[2017-04-10 07:29] #595 closed

[2017-04-10 07:35] CandyFace commented on #148
I can't reproduce this, so I'm closing the issue. it's presumably been fixed a long time ago.

[2017-04-10 07:35] #148 closed

[2017-04-10 07:41] CandyFace commented on #140
If the feature that produced the bug isn't active or has been removed, then the issue itself is invalid. I'm closing this for now. When/if the this issue becomes should come back, feel free to make a new post or comment here again, then'll re-open it.

[2017-04-10 07:41] #140 closed

[2017-04-10 07:42] feeef commented on #635
I guess it is time to release a 0.6 version. It won't be worst than the very old "stable" version on the website, wish is not stable at all.

[2017-04-10 07:53] feeef commented on #584
I don't consider releasing a 0.5.5 version that is based on a build that we think stable, encouraging people to get the nightly builds. It is the exact opposite, by having a very old (useless on most modern systems) release, we force the users to download the nightly builds.

We are not a big project with a lot of testers nor even many contributors so if we keep waiting for getting a full featured

[2017-04-10 08:00] CandyFace commented on #568
Alright just to clear this up, the only issue I see that remains is the ability to remove new camera layers. That bug has been reported already in #425

I'm closing this as the original mentioned issues seems to have been fixed.

[2017-04-10 08:00] #568 closed

[2017-04-10 08:04] scribblemaniac commented on #584
👍 👍

[2017-04-10 08:11] CandyFace commented on #584
So what are you suggesting @feeef, should we just slap version 0.6 on one of the upcoming releases, just for the sake of having a new release? I don't see the issue with forcing people to use a test version, when in reality, there is no stable.

[2017-04-10 08:20] CandyFace commented on #168
These kind of issues are hard to follow when there's no info as to which version is being used nor how to reproduce the said bug. Given the limited amount of developers and time constrains, it simply takes too much effort and time for us developers to decipher issues like this.

i'm therefore closing this issue. If the problem still persists in the newest nightly build, feel free to make a new pos

[2017-04-10 08:20] #168 closed

[2017-04-10 08:25] #277 closed, assigned to nobody

[2017-04-10 08:28] scribblemaniac commented on #584
The issue is we're *not* forcing people to use use nightly builds. We're advertising a version that crashes, sucks on modern systems, and has been responsible for the corruption of many people animations as the **stable version**. What part of that sounds stable to you? If that is called stable, then why would anyone want to even try the nightly builds which are being called unstable!

I've been q

[2017-04-10 09:04] CandyFace commented on #584
The way I see: We have a nightly builds, which are on pencil2d.org advertised as possibly unstable and WIP but are placed in the top, so it's the first thing you see when you enter the website. Below we have the deprecated 0.5.4 which is not supported anymore. That alone should be enough to make people download the former and not the latter. It's not advertised as stable anymore, so there's no con

[2017-04-10 09:05] CandyFace commented on #480
The recently implemented travis integration with google drive has added binary releases for linux and mac, see #627 and #617.

[2017-04-10 09:10] feeef commented on #584
@scribblemaniac, @CandyFace, here is a proposition :

The way the Kdenlive team manages to achieve such great progress with no more resources than us is pretty amazing and I propose to get inspired by them.

Every quarter, they plan to release a new version (labeled the ubuntu way - 17.04). They decide the tasks they can achieve in that short time and make sure to have them ready for the next rele

[2017-04-10 09:13] feeef commented on #584
It is April right now so we could even adopt the Ubuntu style versioning by releasing the 17.04 version by the end of the month.

[2017-04-10 09:26] CandyFace commented on #584
That sounds like a good way to make visual progress, i'm in on that idea @feeef. A weekly meeting on irc wouldn't be bad either, the blender community does this and it seems to work really well.

Anyway, I've joined the IRC channel now and i'm basically always on IRC to be able to talk to.

As for bug squashing, personally i'm quite busy this week (except for today) so figuring out when to do this

[2017-04-10 11:24] J5lx commented on #584
I personally don’t like that date-based versioning scheme. While it isn’t a bad fit for a whole distribution consisting of lots and lots of separate software packages, I think a more semantic versioning scheme is preferable for single pieces of software, i.e. 0.0.x bump means bugfix etc. and x.0.0 bump means major, potentially breaking changes. It’s not for nothing that many other projects are doi

[2017-04-10 11:34] CandyFace commented on #584
@J5lx Hmm I see, well we could change from date to build based naming, as I've mentioned in other thread though, the server can easily get confused and might suddenly skip build numbers but if that's not a problem, then i'm okay with changing it.

[2017-04-10 11:59] J5lx commented on #584
@CandyFace I was talking about releases, not about nightly builds. @feeef suggested adapting Ubuntus versioning scheme YY.MM and that is what I’m opposing here. When it comes to nightly builds, build time/date is by no means a bad way of marking the result.

[2017-04-10 13:04] feeef commented on #584
@J5lx , I was just proposing the versioning scheme but I am not attached to it at all so 0.5.5 or 0.6 is also good to me!
The idea what to say, lets try to make regular releases so we are forced to get things well organized. We can still define 4 releases a year with the classic versioning scheme.

[2017-04-10 13:06] feeef commented on #584
I say 4 but the date based versioning actually defines 3 releases.

[2017-04-10 19:08] CandyFace commented on #486
https://bugreports.qt.io/browse/QTBUG-44964
it seems that qt automatically compresses the amount of input it gets from the mouse and tablet, this is not good in our case because it's exactly the reason why we get really linear interpolation when you're drawing really fast. On average the mouse skips 13 pixels. The tablet (mine at least) sends information faster but it's still not enough, here it s

[2017-04-10 23:43] J5lx commented on #530
In case of interest, I did a quick "port" to the [Meson build system](http://mesonbuild.com/) at [J5lx:meson](https://github.com/J5lx/pencil/tree/meson). Meson is a toolkit-independent, cross-platform build system with focus on usability, speed and generally “doing things better”. I did it rather spontaneously within 30-45 minutes or so, so some TODOs and the tests are yet TBD and there might stil

[2017-04-11 00:58] J5lx commented on #530
To elaborate on the “focus on speed” aspect, have a look at <https://travis-ci.org/J5lx/pencil/builds> and compare the build times on the meson branch and the other, qmake-based branches (for the Linux builds for now, since I still haven’t added OS X support). The meson build times are on average about one minute or ⅕ shorter than the qmake ones.

[2017-04-11 01:00] J5lx commented on #530
To elaborate on the “focus on speed” aspect, have a look at https://travis-ci.org/J5lx/pencil/builds and compare the build times on the meson branch and the other, qmake-based branches (for the Linux builds for now, since I still haven’t added OS X support). The meson build times are on average about one minute or ⅕ shorter than the qmake ones.

*Edit*: Forget about that, I forgot about the missin

[2017-04-11 04:51] chchwy commented on #530
Interesting result, but I just wonder what else we can get from switching to a new build system, and does it worth?

Pencil currently is on a minimal build system, it does not require any other 3rd lib except Qt. Everything is included in repository.

[2017-04-11 04:55] chchwy commented on #635
I'll make a windows build tonight since there is no ci for windows yet.
And I agree that it's time to release a 0.6. What we have to do is any issues should really be fixed before 0.6 release?

[2017-04-11 05:00] Projectashgreninja commented on #635
The issues should be fixed and the new version has to be tested for some time before released so we can make sure there are no issues for the release.

[2017-04-11 05:30] chchwy commented on #635
The problem is there are already too many known issues, just look at this issue tracker. It is not possible to be fixed all of them in few days. We can only pick the important ones first.

One thing I will work on is camera interpolation, the camera layer is broken now.

[2017-04-11 05:43] chchwy commented on #486
This issue has 2 parts, one is Qt mouse event compression, that's true.

But another more important aspect is performance, Pencil2d is just not fast enough to handle so many events. We did disable the event compression on Mac in previous version, but ended up we got a extremely slow pen stroke.

We have to find out what pencil do between 2 mouse event, and minimize it.

[2017-04-11 07:48] feeef commented on #486
@chchwy, the answer to that is what I had previously investigated. Between 2 mouse events Pencil2D redraws the entire canvas surface through the paintEvent method in the ScribbleArea. It is why, when reducing the window size, the application is faster.

The solution here is to implement tiled surface. Where only a small area of the canvas is redrawn. We can implement it ourselves or complete the i

[2017-04-11 07:56] chchwy commented on #486
@feeef Pencil doesn't redraw whole canvas anymore, I fixed that. Pencil2d only redraw a small rectangle that covers 2 mouse positions. But even do so, Pencil is still not fast enough.

[2017-04-11 08:33] feeef commented on #486
ok @chchwy sorry, I didn't know you changed this behavior.

[2017-04-11 09:29] CandyFace commented on #620
I'm closing this since it has been implemented.

[2017-04-11 09:29] #620 closed

[2017-04-11 09:31] CandyFace commented on #612
Closing this as it's been fixed.

[2017-04-11 09:31] #612 closed

[2017-04-11 09:33] CandyFace commented on #605
Good work, i'm closing this.

[2017-04-11 09:33] #605 closed

[2017-04-11 09:38] CandyFace commented on #559
I'm closing this as the original was based on a bug in 0.5.4 build. If the problem persists in the newest nightly build, please make a new thread, stating as much info as possible.

[2017-04-11 09:38] #559 closed

[2017-04-11 10:19] CandyFace commented on #486
@chchwy Ahh I see, so it's related to SetMouseCoalescingEnabled in macosx.cpp. Enabling coalescing not a good solution though, it must be possible to use all the events at once, store them in a queue or something. This developer guide from wacom talks about possible solutions: http://www.wacomeng.com/mac/Developers%20Guide.htm
search for "Performance Issues" to get to the interesting part.

[2017-04-11 12:38] CandyFace commented on #535
This was fixed in #345, closing.

[2017-04-11 12:38] #535 closed

[2017-04-11 12:39] CandyFace commented on #609
As mentioned, tested and works. Closing.

[2017-04-11 12:39] #609 closed

[2017-04-11 12:45] chchwy commented on #486
@feeef no need to say sorry, I just want to point out that there is something else slow down the stroke.
As performance issue, we probably have to do a profiling to get the root cause.

[2017-04-11 12:49] CandyFace commented on #534
I'm closing this as the issue was targeted towards 0.5.4.
Both issues should have been resolved. If the problem persists, please create a new issue, stating as much relevant information as possible.

[2017-04-11 12:49] #534 closed

[2017-04-11 12:52] CandyFace commented on #483
@Jose-Moreno do you still experience lag with the slider?

[2017-04-11 12:58] CandyFace commented on #482
I can't reproduce this. Do you still experience this?

[2017-04-11 13:06] CandyFace commented on #526
I'm closing this.

If you still experience this problem in the newest nightly build, then please create a new issue, stating as much relevant information as possible.

[2017-04-11 13:06] #526 closed

[2017-04-11 13:16] CandyFace commented on #558
Using discourse would be nice, it's elegant and works really well for discussions. It's indeed possible to set it up for free https://github.com/discourse/discourse/blob/master/docs/INSTALL-cloud.md
The guide refers to OceanDigital but it should be be possible to use any host.

[2017-04-11 13:24] #565 closed

[2017-04-11 13:34] feeef commented on #486
ok @chchwy, @CandyFace, unfortunately, I can't reproduce this bug on my side as both my tablets are fast with Pencil2D. I let you guys handle that issue.

[2017-04-11 15:06] Jose-Moreno commented on #483
@CandyFace Let me build the latest code and i'll get back to you as soon as I can.

Also thanks for taking the time to review all the issues. I haven't had enough time to do it and I'm out of sync with recent changes. :face_with_head_bandage:

[2017-04-11 15:08] Jose-Moreno commented on #482
@CandyFace I think this was fixed by Matt, but I'm not sure now. I'll test it again along with the other one and if anything I'll close it. Thanks :smile:

[2017-04-11 15:33] J5lx commented on #558
… that has Ruby. As awesome as Ruby might be, the last time I looked I had a hard time finding dedicated hosts, and IIRC gordielachance mentioned somewhere that is current host is a PHP one. There are some PHP forum packages though that are not unlike Discourse, most notably [esoTalk](http://esotalk.org/) (and of course its successor [Flarum](http://flarum.org), but that one’s still in the early s

[2017-04-11 16:00] CandyFace commented on #635
it's not realistic for us to fix all of them before we release, that is if we want it to happen within this month. However it would certainly be nice if the camera layer worked as intended. The memory leaking issue is serious too. but it's difficult to replicate and debug.

[2017-04-11 16:43] CandyFace opened #639 "Removing first frame crashes application"
### --Issue Summary--
If you make x frames and draw at the last frame, then moves the red bar to the first frame and try to remove the frame, you'll see that see application either hangs or crashes.

### --Actual Results--

Application crashes

### --Expected Results--

Frame should be removed successfully.

### --Video or Image Reference--
![crash](https://cloud.githubusercontent.com/assets/10453

[2017-04-11 17:01] CandyFace commented on #564
Can't reproduce this anymore, closing.

[2017-04-11 17:01] #564 closed

[2017-04-11 17:04] CandyFace commented on #548
I can't reproduce this anymore, confirmed fixed. Closing.

[2017-04-11 17:04] #548 closed

[2017-04-11 17:06] CandyFace commented on #545
Can't reproduce this anymore, confirmed fixed. Closing.

[2017-04-11 17:06] #545 closed

[2017-04-11 17:54] MFRS opened #640 "Draw lag when using wacom tablet on mac"
### --Issue Summary--

### --Actual Results

### --Expected Results--

### --Video or Image Reference--

### --Steps to reproduce--

### --System Information--
+ Pencil2D Version:
0.5.4 dev

+ Operating System:

+ RAM Size:

+ CPU:

+ Graphics Tablet:

---

[2017-04-11 18:05] CandyFace commented on #640
Hi MFRS

You've written 0.5.4 dev, would you mind clarifying whether that's the latest nightly build from google drive? https://drive.google.com/drive/u/0/folders/0BxdcdOiOmg-CeVpTY294cXdLZ2c.

How much lag are you experiencing? leaving no information makes it rather difficult to figure out what you mean

[2017-04-12 01:04] Projectashgreninja commented on #635
Then we just do what we can and fix the rest along the way , unless there is another way.

[2017-04-12 02:00] Jose-Moreno commented on #482
@CandyFace Just tested on with the latest code. This is still happening to me on Windows. The thing is that you have to tap the alt key to basically get the focus on the menu, and once you try to pick the color the menu focus exits and the tool becomes locked until you press ALT twice, and sometimes you just have to press the shortcut for the tool again.

[2017-04-12 02:10] Jose-Moreno commented on #483
@CandyFace Just tested with latest code. I still experience **Case A** (slider Lag).
On the other hand **Case B** was somewhat solved: Now if you click over the slider "line" the slider button will move incrementally towards the place where your cursor is.
The pattern they seem to have implemented was the size increments by 1, 6, 10, 14, 18, 22, 26, 30, 34, and so on until you reach the maximum si

[2017-04-12 02:12] Jose-Moreno commented on #548
I can confirm this has been fixed in the latest build for April 11 on Windows 7.

[2017-04-12 02:16] scribblemaniac commented on #483
The slider behavior for Case B is determined by your operating system. For example, on mac the button will jump straight to the absolute position when you press.

[2017-04-12 07:19] CandyFace commented on #483
Thanks @Jose-Moreno :)

Since both behaviors seems to be Windows related, it's hard for me to debug them. @scribblemaniac even if that's true, it should be possible to force the same behavior.
http://stackoverflow.com/questions/11132597/qslider-mouse-direct-jump. The solution with QStyle looks rather easy to implement.

[2017-04-12 07:29] CandyFace commented on #482
@Jose-Moreno Ah right, I was able to reproduce it now. You have to hold down the mouse button prior to you rapidly pressing the alt key, then after you let go, it will be stuck in its color picking behaviour.

I'll see what I can do about it :)

[2017-04-13 03:48] Jose-Moreno commented on #8
@chchwy If scribblemaniac's refactoring of the hand tool via #641 is succesful, do you think we can consider this very early request fulfilled?

[2017-04-13 06:38] Jose-Moreno commented on #270
@chchwy @CandyFace We can close this now.

[2017-04-13 06:39] Jose-Moreno commented on #318
@chchwy @CandyFace This one should be closed since sound has already been implemented and tested ever since the date of this issue.

[2017-04-13 06:42] Jose-Moreno commented on #97
@chchwy @CandyFace Bump. We should close this as it's impossible to know what was the problem to start with. It must be related to the elusive crash-wipe bug from 0.5.4 dev

[2017-04-13 06:47] Jose-Moreno commented on #299
@chchwy @CandyFace This bug has been fixed on latest builds for Windows ever since Nightly from Nov 2016. Please confirm on MAC / Linux if possible and close this.

[2017-04-13 06:51] Jose-Moreno commented on #92
@chchwy @CandyFace I think this can be closed now, considering the date and the newest implementation of ffmpeg.

[2017-04-13 06:57] Jose-Moreno commented on #195
@mapreri Sorry to bother you Mattia with a Pencil2D issue, but do you know how to change the category of an application in linux distros? Is it a problem of the source code or just how the distribution categorizes it? It's just so we can at least advance a bit with this issue. Thanks :smile:

[2017-04-13 07:05] Jose-Moreno commented on #314
@tinwelint Sorry to bother you Mattias, I'm sure you don't use Pencil2D anymore, but if you don't mind could you test the latest Nightly Build for Windows? Latest Windows 64bit version is **Pencil2D-win64-20161102.zip** on the following link:

https://drive.google.com/drive/folders/0BxdcdOiOmg-CSVlqc3JNQV9hVGs

Let us know if this issue has been fixed for you and if possible close it. Thanks!

[2017-04-13 07:10] Jose-Moreno commented on #319
@chchwy @CandyFace I think we can close this as the OP expressed satisfaction with a Nightly Build from last year.

[2017-04-13 07:16] #270 closed

[2017-04-13 07:17] CandyFace commented on #318
Alright, closing.

[2017-04-13 07:17] #318 closed

[2017-04-13 07:19] CandyFace commented on #97
Since we never got the source file, I agree. Closing.

If it's still a problem in the newest nightly build, please make a new issue and fill out as much relevant information as possible.

[2017-04-13 07:19] #97 closed

[2017-04-13 07:22] CandyFace commented on #299
I can confirm that it works on mac. Closing this.

[2017-04-13 07:22] #299 closed

[2017-04-13 07:23] CandyFace commented on #92
Yes, I've tested exporting on mac recently and it works as expected. Closing.

[2017-04-13 07:23] #92 closed

[2017-04-13 07:31] CandyFace commented on #319
Alright, closing.

[2017-04-13 07:31] #319 closed

[2017-04-13 07:55] CandyFace opened #642 "Version numbering and more relevant dev info in about"
### --Issue Summary--
With the current setup, a lot of manual information has to be added, to make an issue useful to us developers. This often leads to a problem, because only few takes the time to do that. For our own sakes, we could automate some of this process by adding the info to the about dialog, making it possible to copy/paste.

This should be in the about dialog:
Pencil2D version: 0.5.5

[2017-04-13 07:58] scribblemaniac commented on #642
This would definitely be useful 👍

[2017-04-13 08:05] CandyFace opened #643 "Clicking the remove frame button when there is no frame, crashes the application"
### --Issue Summary--
if you move the red bar to an empty space on the timeline and hit the remove button, the program will crash

### --Actual Results
Program crashes.

### --Expected Results--
Nothing should happen, because there is no frame to be deleted.

### --Video or Image Reference--

### --Steps to reproduce--

1. Move red bar to an empty space
2. Press remove keyframe

### --System Infor

[2017-04-13 08:31] mapreri commented on #642
Please **no**.

The time the build was done carries _no information_ whatsoever, and it just makes the build unreproducible  out of the box.

The rest of the information you are suggesting is cool, instead, and way more useful than the build date.

[2017-04-13 08:38] mapreri commented on #195
Well, it comes from the .desktop file, as the OP wrote.

pencil2d "ships" one from the util/linux-debian-packager.sh but I don't know who uses that script.  In Debian I added [my own .desktop file](https://anonscm.debian.org/git/collab-maint/pencil2d.git/tree/debian/pencil2d.desktop?h=debian/0.5.4%2bgit20170323.ec4712d%2bdfsg-1) (although I realize only now that I forgot to add a respective .mime

[2017-04-13 08:38] CandyFace commented on #642
Hmm it specifies exactly how old the build is, without looking up the git hash on the website, I think that's somewhat useful. However It's true that we can't use the info for better debugging.

[2017-04-13 08:40] CandyFace commented on #195
I don't think the linux-debian-packager is used anymore? or it has been updated since then because nowhere does it say "Development;AudioVideo".

[2017-04-13 08:44] mapreri commented on #642
Probably the build system can detect if the build is being done from a git repository, and if so define COMMIT_HASH and COMMIT_DATE (or whatever) and embed those?  That could probably be more useful than a clueless build date.

[2017-04-13 08:46] CandyFace commented on #642
Ah yes, my mistake, I meant commit date when I said build time and date.

[2017-04-13 23:57] Jose-Moreno commented on #643
@CandyFace I Can't reproduce this in Windows 7. When I press the remove keyframe button the header goes back to the previous frame unharmed,

Could this issue be MAC OS specific? Can anyone on Linux confirm this problem?

[2017-04-14 00:14] Jose-Moreno commented on #540
@chchwy @scribblemaniac @feeef @CandyFace @J5lx @mapreri @gordielachance So, I wanted to let you know that the Pencil Live document I was maintaining ever since last year was updated yesterday.

After a long year of testing out Pencil2D and patiently listening to the cries of some users, I've rounded about 80+ feature requests from my own experience and from pro animators I've come across that hav

[2017-04-14 06:34] CandyFace commented on #643
Hmm weird, neither can I atm. I was able to consistently do it yesterday but now it's not happening. I'll try to provoke it a bit, if I still can't reproduce it, then I'll close it.

[2017-04-14 06:46] CandyFace commented on #540
Preferably we should have all issues in the issue tracker yes.

As for accessing the doc, you could link it from the Tasks button, then it would be easily available from the dev environment.

https://github.com/pencil2d/pencil/wiki

Good work :)

[2017-04-14 07:27] CandyFace commented on #642
PR up #644

[2017-04-14 07:41] mapreri commented on #540
I agree, the better way to track issues (and feature requests) imho is a
bug tracker, like github's.  You could probably consider adding a label to
each of those bugs.

[2017-04-14 08:48] J5lx commented on #540
I also agree about the bug tracker. Potentially one could also assign a milestone to those issues, that way we’d get a nice progress bar :)

[2017-04-14 08:53] feeef commented on #540
I agree with the tracker too! It will be easier to define ant track milestones for each features. It will also be easier for the new contributors joining.

[2017-04-14 11:17] #643 closed

[2017-04-14 15:48] MFRS commented on #640
Ok I apologize. Its the latest version I download that shows in the pencil2d main page that is available for mac.

About a 1 second lag when drawing. Any other questions?

[2017-04-14 16:09] CandyFace commented on #639
It doesn't happen consistently. I suspect that it's a value that doesn't get initialized properly.

[2017-04-14 16:10] Jose-Moreno commented on #640
@MFRS Thanks for taking the time to answer :smiley:  Actually, would you mind testing this version? The following is a direct link to download one of the latest MAC versions, could you test if it's still happening on that particular version or not? If you have the time of course. Thanks a lot!

https://drive.google.com/open?id=0BxdcdOiOmg-CZUctazFtbmk5MGM

[2017-04-14 16:15] Jose-Moreno commented on #540
Alright everyone!, thanks for answering I'll gladly migrate them over, it might take some time before I finish cleaning up the duplicate, but once I do I'll categorize the requests before adding them.

I don't have the ability to tag the issues though, so I guess I'll leave a tag suggestion on the issue as well, because I think it's important to prioritize certain features over others, of course t

[2017-04-14 18:12] MFRS commented on #640
Awesome, it works in this one. Thanks!

[2017-04-14 21:38] #640 closed

[2017-04-16 12:37] CandyFace commented on #639
This should be fixed now in PR #646

[2017-04-17 08:53] CandyFace commented on #8
I can confirm that @scribblemaniac implementation works great, so i'm closing this. If canvas rotation requires further enhancement, then we can make a new issue.

[2017-04-17 08:53] #8 closed

[2017-04-17 09:20] CandyFace commented on #584
@Jose-Moreno
I suspect that people still download the deprecated version, because they seemingly don't read but just look for a download link. The page is very cluttered on first sight.

The download section could be cooked down to this basically

The Download section should look like this:
### Latest version - In Development:
Windows | Pencil2D 0.5.x
Linux | Pencil2D 0.5.x
Mac | Pencil2D 0.5.x

#

[2017-04-17 15:30] Jose-Moreno commented on #584
@CandyFace Will do, I like your arrangement and i'll implement it before the day's over.

The way it is now was to choke new users into downloading anything but the other version, since when you first land on the page you'll only see the first part. There has been a reduction on people trying to download the old version, but I also noticed recently that there's some youtubers and artists that STIL

[2017-04-17 23:12] Jose-Moreno commented on #584
@CandyFace Alright, it's done, the main page has been updated. Next I'll see how to deal with the people on youtube and tumblr so they can upgrade their Pencil2D version unless they have older operating systems of course :roll_eyes:

[2017-04-18 00:01] CandyFace commented on #582
PR up for the last missing piece, automated windows builds ٩( 'ω' )و
I will now close this thread, as its purpose as been served.

[2017-04-18 00:01] #582 closed

[2017-04-18 10:39] CandyFace commented on #574
@marcomaureiraflores What version of Pencil2D did you use?

[2017-04-18 11:56] #642 closed

[2017-04-18 11:56] #639 closed

[2017-04-19 14:46] Projectashgreninja opened #653 "[Issue] Testing the build already has bugs."
The build that is in progress already has bugs. I am using the new windows build 64bit and one I tried to sketch on bitmap layer nothing happened. After I tried to sketch in the vector layer Pencil2d crashed. Also every time I the pen tool the pen automatically draws zigzags before it becomes precise. I appreciate the build being made in progress though testing it already has issues.

[2017-04-19 14:54] CandyFace commented on #653
Hi Projectashgreninja

Thanks for reporting.
you say the newest windows build, do you refer to Pencil2D-win64-20161102.zip ?
There should be no such problems in that build, have you tried running the application in administrator mode?

[2017-04-19 16:27] Jose-Moreno commented on #653
@Projectashgreninja As CandyFace said, please try to be more specific, It took a lot of time creating the template you saw when submitting this issue, that template is not to be dismissed, you don't have to enter all the information but please try to enter at least the critical parts particularly the **Pencil2D version** (with date) and your actual operating system (Windows 7?, Windows 10? Windows

[2017-04-22 10:28] vpaintanimation opened #654 "Enthusiastic programmers.look at this!"
https://github.com/hidefuku/AnimeEffects

[2017-04-22 10:50] CandyFace opened #655 "Cursor being drawn outside window frame"
### --Issue Summary--

bug 1:
While using a tool with a cursor, if you zoom too far in and hit space to update the cursor size, the program will hang.

I assume it's because the cursor is not being clipped to the frame of the window, so when you can't see it anymore, it's constantly trying to update a huge area.

enhancement:
The cursor (the outline circle) should be clipped to the window.

### --

[2017-04-23 06:08] scribblemaniac commented on #654
If there are some features in that program which you would like to see in Pencil2d, then please structure your post as a feature request for specific features. As it stands right now, this is basically just an advertisement for this alternative project which is not at all what issues are used for.

[2017-04-23 07:01] vpaintanimation commented on #654
Sorry, I would like to express that pencil2d has a very good painting operation experience, whether it will join a similar grid deformation animation tool, I see the same GPL license, which means that pencil2d can use its code. I would like to know if pencil2d will integrate such a function.

[2017-04-23 08:14] CandyFace commented on #654
While I can't speak for all of us, I will say that integrating such a function is not something i'm interested in before we have fixed our own tools. Right now all focus is on bug fixing, feature requests can come later.

When that's said though, having looked at the video, it looks pretty powerful and deformation like could indeed benefit the animator in some situations. It does not have much to

[2017-04-23 08:42] J5lx commented on #654
@vpaintanimation In regard to license compatibility I’d like to point out that Pencil uses GPL2 [which is incompatible to the GPL3](https://opensource.stackexchange.com/a/1778) used by AnimeEffects. Pencil won’t be able to incorporate any AE code unless it switches to GPL3 ([which can be rather non-trivial](https://opensource.stackexchange.com/a/1776)).

[2017-04-23 09:06] vpaintanimation commented on #654
Thank you for telling me this, and I'm looking forward to the next of version pencil2d released

[2017-04-23 15:44] Jose-Moreno commented on #654
@scribblemaniac @CandyFace @J5lx I agree completely that we have to fix Pencil2D's own tools first. However this tool does provide solution to a rather difficult dilemma I've been posed by colleagues several times, and it is the usability and applicability of Pencil2D in a production environment.

Hand drawn animation productions are rather scarce these days, with the exception of some video games

[2017-04-26 07:15] CandyFace commented on #38
Closing this as the request has been fulfilled with #656

[2017-04-26 07:15] #38 closed

[2017-04-26 07:25] CandyFace commented on #104
I'm closing this, as it's been fixed for some time now.

[2017-04-26 07:25] #104 closed

[2017-04-26 07:52] CandyFace commented on #616
Alright I've just had a look at it, I can't seem to reproduce the spline to linear interpolation issue anymore, this must have been fixed some time ago I guess?

The filling tool is still broken.

[2017-04-26 08:53] CandyFace commented on #655
it's essentially a part enhancement and part bug.
The zoom in which ends up freezing the application is definitely a bug, but the cursor not being clipped the the window is intentional. However, my assumption is that implementing the enhancement will fix the bug and vice versa.

[2017-04-26 12:14] CandyFace commented on #129
Fixed in PR #658.

Closing.

[2017-04-26 12:14] #129 closed

[2017-04-26 12:16] CandyFace commented on #34
@chchwy has this been looked at yet? I don't have a wacom tablet with pen flip, so I can't test it.

[2017-04-26 12:20] CandyFace commented on #105
is this still an issue, I haven't been able to crash Pencil by spamming undo in a long time now?

[2017-04-26 12:29] CandyFace commented on #412
I can't replicate the issue anymore, the content of the frame is being duplicated everytime. except when you have something selected, then the selection will only get duplicated.

it shouldn't no, a new action would be better in that case.

[2017-04-26 23:34] chchwy commented on #34
Unfortunately I don't have a wacom pen with eraser either atm :/

[2017-04-27 01:26] Jose-Moreno commented on #34
@CandyFace @chchwy I have a Wacom Intuos Pro 5 tablet. My experience has improved over the last two years while using Pencil2D particularly since 2016 Last quarter.

I can use the eraser and the Pen functionalities normally on Windows. But I can't test this right now on Linux. I have an older laptop with Linux Mint. I could attempt to run it there. I'll try to do it over the weekend since I'd have

[2017-04-27 01:50] Jose-Moreno commented on #412
@CandyFace I actually think it's expected behaviour in many programs. Because duplicate is sort of a modifier. So if you select one frame, you will duplicate 1 frame. But If you select 20 frames, you should be allowed to duplicate 20 frames. Or else you'd had to go 1 by 1 to duplicate those 20 frames.

Imagine you wanted to repeat 400 frames for artistic purposes....No way i'm going to duplicate t

[2017-04-27 07:57] CandyFace commented on #412
@Jose-Moreno I was referring to a selection done on the canvas (I think that's what @ManuAros is talking about too) It sounds like you mean a selection of multiple frames in the timeline, which I agree should be possible.
![duplicate](https://cloud.githubusercontent.com/assets/1045397/25473318/5606496c-2b2f-11e7-8745-8d75344da544.gif)

if you still think that it should be possible, then fair enoug

[2017-04-27 11:33] CandyFace commented on #445
This has been fixed for a while now, i'm closing this.

[2017-04-27 11:33] #445 closed

[2017-04-27 11:49] CandyFace commented on #238
This bug is invalid now, since the popup palette was removed. Closing.

[2017-04-27 11:49] #238 closed

[2017-04-27 13:32] Jose-Moreno commented on #412
@CandyFace Hmm, I see, it seems I misread his original intention with the comment; I have yet to file the feature request of allowing multiple frames duplication :stuck_out_tongue_closed_eyes:

Regarding this bug, although it feels natural, I agree with you that duplicating the frame while having an element selected should still duplicate the whole frame, because that's it's function. If we want t

[2017-04-27 19:14] Jose-Moreno commented on #616
@CandyFace You're right, it does seem to be fixed, however there's another issue at hand that worries me as it can be interrupting the way this bug used to surface (or ti might have fixed it as well hah).

Now when using the "merge" check-box feature, the vector lines are not creating enough points at the intersections when each line is crossing each other, so no real "merging", and the only way t

[2017-04-27 23:34] #555 closed

[2017-04-27 23:42] #466 closed

[2017-04-27 23:43] #475 closed

[2017-04-28 13:20] CandyFace commented on #473
Closing this as it's been implemented a long time ago.

[2017-04-28 13:20] #473 closed

[2017-04-28 14:12] CandyFace commented on #552
Am I correct when I say that the issue that persists, is that when you select a camera layer, all layers are rendered translucent instead of fully opaque?

If so, then an upcoming PR should fix that ;)
![opacity](https://cloud.githubusercontent.com/assets/1045397/25532274/1f7aa452-2c2d-11e7-8e42-a73a16829dbd.gif)

[2017-04-28 14:55] CandyFace opened #661 "Vector strokes are being placed below each other."
### --Issue Summary--
Vector strokes are placed below each other. They should be placed on top of each other.

### --Actual Results
top:
stroke 1: --------
stroke 2:++++++

### --Expected Results--
top:
stroke 2: ++++++
stroke 1: --------

### --Video or Image Reference--
![vector index](https://cloud.githubusercontent.com/assets/1045397/25534100/1470bf00-2c33-11e7-81af-aa2b4cf15b7f.gif)

### --Sy

[2017-04-28 17:38] CandyFace commented on #393
This feature could be simplified. In your case @feeef, implementing this such that the last frame sees the first frame. Then there's no need to choose which frames you want to be translucent.

[2017-04-28 18:06] CandyFace opened #662 "Move tool shouldn't be able to make selection area"
### --Issue Summary--
If you select the move tool, then drag on the canvas, the tool turns into the selection tool. If try to drag the selection, the selection will disappear and nothing will happen.

### --Actual Results
The move tool turns into the selection tool.

### --Expected Results--
nothing should happen. Only the selection tool should be able to make a selection. The move tool should ide

[2017-04-28 20:07] CandyFace commented on #616
I'm not sure I understand the functionality of the merge tickbox. What does merge do exactly? it says "merge vector lines, when they are close together" but what does that mean in this case? Will it join the points that are close enough or will it just visually place them on top of each other? I've always been confused about that feature.

[2017-04-28 22:51] Jose-Moreno commented on #616
@CandyFace Same here, although I would like to think it should work like on ToonBoom software where you can make vector line strokes "independent" of each other while they overlap (merge OFF) so each stroke behaves as an independent vector element. When merge is ON, each stroke add up and fuse into an editable vector element, unless you draw outside which would create a new element on it's own.

S

[2017-04-29 09:09] CandyFace commented on #616
Hmm okay so it seems that the merge function does "work" as long as the points are generated close enough to each other. Now I understand your previous post, they don't merge though, both points can still be seen, they just somewhat overlap each other and loose their ability to be dragged independently.

Yes, that's also the way I would expect it to behave, also that it should work in a more organ

[2017-04-29 14:35] Jose-Moreno commented on #616
@CandyFace I completely agree with your proposed focus for the vector engine :smile: I'll be submitting the feature request for enhanced vector tools sometime soon and I want to incorporate as much specific information as possible. Since you proposed some operations that hadn't been suggested to me before (join, split, possibility of it's own widget / panel, gradient), I want to have some time to

[2017-04-29 14:44] CandyFace opened #663 "Move tool doesn't apply changes on Enter/Return"
### --Issue Summary--
After having used the move tool in combination with the selection tool, pressing enter to apply changes doesn't work. The input is interrupted by the playback shortcut (which is activated using the return key) this makes the selection disappear temporarily but when you move the mouse again, it comes back and the changes are not applied.

### --Actual Results
The playback shor

[2017-04-29 21:04] scribblemaniac commented on #603
@CandyFace What's the status of this? I would like to see these make it into the next release.

[2017-04-29 21:15] CandyFace commented on #603
@scribblemaniac Hmm well since it was discussed in another thread that we should be focusing on bug fixing, I've put it on hold for now. All icons are more or less done though, just a bit more polishing

[2017-05-01 19:27] Jose-Moreno commented on #540
Ok, I managed to organize the bug requests into sections to give an idea of plausible milestones so now it resembles an actual roadmap :smile: . I'll begin submitting proposals as soon as I've finished reading and testing out each one to make it as clear as possible. Also I'll leave tag and milestone suggestions to be implemented along the issue.

https://docs.google.com/document/d/1NmbAh1TQYDwoEg

[2017-05-05 11:11] CandyFace commented on #662
I've been working on implemented my ideal solution for a while now, but i've hit a dead end... I've implemented such that when you drag anywhere on the canvas, the bitmap region will be searched through, and make a selection based on the non alpha region. My problem atm. is that the transformation is wrong and that it only works after you've dragged once (somewhat). I'm going to lay it off for now

[2017-05-08 14:02] CandyFace commented on #603
Alright i've made a PR now ;)

[2017-05-13 02:17] paranoidfactoid opened #668 "Latest and Previous monthly build for Pencil2d fails to launch on OS X 10.10"
### --Issue Summary--

Download Application from main site. Attempt to launch. It fails to start with the message:

"Pencil2D cannot be opened because of a problem. Check with the developer to make sure Pencil2D works with this version of OS X. You may need to reinstall the application. Be sure to install any available updates for the application and OS X."

Please note, if I open package contents

[2017-05-13 07:15] paranoidfactoid commented on #668
FYI: The last build version that launches properly is Nov 8, 2016.

[2017-05-13 07:30] CandyFace commented on #668
Hmm it looks like some of my latest to the travis file has been reverted... that is probably the reason this is happening.

working on a fix, coming up asap.

[2017-05-13 08:00] CandyFace commented on #668
Fix is up now, weird though that even the builds that worked prior to some of the recent changes has been removed too. I'll remove the broken nightly builds from the google drive folder.

[2017-05-13 15:42] paranoidfactoid commented on #668
Hi. Thanks for such a quick response. However, I downloaded the latest build you posted and still have exactly the same problem (with exactly the same error messages). Macs expect the package to self contain all libs and runtime dependencies. Not sure what your build environment looks like, but I'd guess there's a Makefile here with a bad path. Probably autogenerated as part of your crossplatform

[2017-05-13 15:54] CandyFace commented on #668
Well the PR hasn't been merged yet, so there's no new build with the applied fix. The thing is MacdeployQt is pretty broken, so you have to do a bunch of things yourself to fix it.

If you grab the source code from my branch https://github.com/CandyFace/pencil/tree/travis-regression-fix
then after you've compiled the pencil2d, you have to do the following:
* Apply the macdeployqt, by entering this

[2017-05-14 04:33] #668 closed

[2017-05-14 11:43] NedicTeamNS opened #670 "My paint brush dose not work"
### I'm new here and I'm only 12 so don't be mad if I just missed something.

### I click on my paintbrush and I start drawing but it dose not work.

### At first it worked, but when I came back five minutes later it broke. It dose not leave any trail behind it.

###

### First the app had a crash and when I came in only the brush was not back to normal.

### System Information
+ Pencil2D Version:

[2017-05-14 19:14] Jose-Moreno commented on #670
@NedicTeamNS Hi, don't worry. Thank you for letting us know your system specs, it's easier to help like that :smile:

So, you're using a really old version (0.5.4) I have to ask you to please try out a more recent "development" since it's more stable. The latest development build that has been released for Windows is from November 2016 and here's a **direct link for Windows 32bits systems**:

http

[2017-05-15 14:27] CandyFace opened #672 "Appveyor needs private key setup"
I noticed yesterday while reading an issue regarding the windows build, that appveyor haven't pushed anything to google drive. All implementation is done, so it really just comes down to @chchwy being required to setup the private keys on his appveyor account.

[2017-05-16 01:23] J5lx opened #673 "Import/Export file chooser field instead of dialog"
Currently the file dialogs for import and export are handled slightly differently depending on the type of media. Exporting images and image sequences shows an options dialog first and a file chooser second, exporting movies and importing image sequences does it in the opposite order. But instead of figuring out the One True Dialog Order it might be a good idea to just turn the file path into anot

[2017-05-16 07:33] CandyFace commented on #673
I support this, it sounds like a good solution and it makes it easier to understand what to expect when you click the export or import button.

[2017-05-16 11:57] chchwy commented on #673
agree, would be good to have these dialogs to work in the same way.

[2017-05-16 17:03] Jose-Moreno commented on #673
@J5lx I think it would be for the better. As long as each function (import / export) is consistent with this proposal I see no issue, this way people can expect to always define the path for a file to be imported and to be exported as such. Thanks a lot! :smile:

[2017-05-16 18:46] J5lx commented on #673
I’ll work on it then.

[2017-05-20 13:06] #673 closed

[2017-05-20 15:21] chchwy commented on #672
Thanks for reminding, already setup.

[2017-05-20 15:21] #672 closed

[2017-05-20 16:20] CandyFace commented on #670
@NedicTeamNS A recent build has become available for Windows 32/64 bit now, grab it here:
https://drive.google.com/drive/u/0/folders/0BxdcdOiOmg-CcWhLazdKR1oydHM

[2017-05-21 01:03] Qwerp-Derp opened #676 "Missing DLLs MSVCP120.dll and MSVCR120.dll"
### --Issue Summary--
I'm trying to run Pencil2D on Windows 10, but apparently I'm missing DLLs. When I run Pencil2D, it comes up with four errors in succession - one for MSVCP120.dll, one for MSVCR120.dll, one for MSVCP120 again and one for MSVCR again.

### --Steps to reproduce--

1. Download the latest nightly build (2017-05-20) from the Google Drive
2. Run Pencil2D.exe

### --System Informatio

[2017-05-21 01:05] Qwerp-Derp commented on #654
Shouldn't the title be renamed to something that's more relevant to the issue at hand @vpaintanimation? The title seems just clickbait-y.

[2017-05-21 03:44] Jose-Moreno commented on #676
@Qwerp-Derp Usually this is a Windows issue, that's why if you notice the Pencil2D download file is bundled with a vcredist_x86.exe file, which is a run-time redistributable for visual studio components which many developers use. Try that out and see if it works for you.

[2017-05-21 06:17] Qwerp-Derp commented on #676
@Jose-Moreno I fixed this issue another way, by installing Visual C++ 2013 (x64) on my laptop - turns out I don't have it installed. Also, is there a way to extend a keyframe?

[2017-05-21 07:17] Jose-Moreno commented on #676
@Qwerp-Derp Good to hear, if you can please close this issue as it was resolved already.

Regarding your second question, you mean Extend a frame as in extending it's duration? It should be done automatically. Basically you have to control how long your drawings are exposed by inserting other keyframes.

For example, If you create a drawing in frame 1 and a drawing in frame 24. The first drawing w

[2017-05-21 09:57] #676 closed

[2017-05-26 23:31] Jose-Moreno opened #677 "[BUG] stabilization function create artifacts on drawing strokes"
### --Issue Summary--

When drawing with any tool that has pressure sensitivity, the strokes are leaving a full pressure dab at the end of the stroke.

### --Actual Results

You get lines that get a dot drawn on the last portion of the stroke

At first appears to happen randomly but it seems to be tied to the speed of the stroke being drawn as well as the stabilization feature. When you set the st

[2017-05-26 23:39] Jose-Moreno opened #678 "[BUG] Pressure sensitivity checkboxes are disabled / misplaced"
### --Issue Summary--

Pressure sensitivity is working by default with graphic tablets. However attempting to disable the pressure using the appropriate checkbox doesn't have any result. This happens on every tool.

### --Actual Results

Using the pressure checkbox doesn't do anything. On Paint tool the pressure checkbox does not do anything BUT the feather checkbox is enabling and disabling the p

[2017-05-27 11:41] CandyFace commented on #677
I can't reproduce the dabbing with the Pencil tool if pressure is on, it does happen when it is off though and indeed there is still pressure too even though it's off. It happens no matter what with the pen... strange.

I'll take a look at it.

[2017-05-27 13:35] CandyFace commented on #677
Alright I've located the problem, fix coming up asap ;)

[2017-05-28 12:17] aprekates opened #680 "Changing default bahavior in 'paste' command."
### --Issue Summary--
When pasting in a bitmap layer i cant move it but i must select it again.
The problem is that the layer has already changed!.

### --System Information--
+ Pencil2D Version:
0.5.4

(ps: i tried for 10 minutes to make an account and login in the forum, https://www.pencil2d.org/forums
with no success. )

[2017-05-28 12:33] CandyFace commented on #680
Hi aprekates

What do you mean that the layer has changed? It sounds like you mean that when you import a new image, you're being moved to the next empty frame, thus you have to first select the previous keyframe again then use selection and move tool to drag your image? if that's not correct, please elaborate.

Also, would you mind telling the specific version of Pencil you're using, you can find

[2017-05-28 20:46] aprekates commented on #680
I'm using 0.5.4(26 July 2013) and occasionaly Nigthy Build 23 2015
The 'issue' i submit i think is a feature request .

1.In a bitmap layer i have drawn sth.
2.I select a part of it (or all of it) and the rectangular select line will be displayed as a border of my selection.
3. I give Edit->Copy command
4. I Edit->Paste either in the same layer in the current frame or in the same layer in the next

[2017-05-28 21:14] CandyFace commented on #680
Ah I see, well the old 0.5.4 version is not supported anymore. Anyhow, this is still an issue which is present in the newest nightly build, so it's a fair request.

[2017-05-28 21:53] Jose-Moreno commented on #680
@aprekates Meanwhile this gets worked upon, a workaround for this you can do is the following:

1. Select the portion you want to copy
2. Edit > Copy or Ctrl+C
3. Now use the marquee tool and create a bounding box on the place you want to paste. The marquee must be bigger than the content you want to paste (you have to gauge this visually) or else the pasted content will become distorted (the prop

[2017-05-29 10:59] CandyFace commented on #533
Research:
![Harmony](http://docs.toonboom.com/help/harmony-12/essentials/Content/Resources/Images/HAR/Stage/Interface/HAR12/HAR12_interface_general.png)

### Toon Boom Harmony
[ToonBoom Harmony](https://www.toonboom.com/products/harmony)
Toon Boom Harmony is what I consider to be SOTA among the animation applications that professionals are using today. The timeline interface has a lot of functions

[2017-05-29 19:22] Jose-Moreno commented on #533
@CandyFace Great post Oliver! Indeed there are certain things that are worth adapting, however most of these programs are honestly very complex for an animator to just "open up and draw" which right now Is one of the main strengths of Pencil2D, and the only one among those listed who succeeded on that area was Adobe Flash / Animate. To me even PAP was confusing at first and so you had to go and re

[2017-05-30 20:35] J5lx commented on #533
For reference, Pascal Naidon’s vision document also talks a little about the timeline, though I think the most relevant bits have been posted above: <http://www.pencil2d.org/2010/06/the-vision-for-pencil-by-pascal-naidon/#timeline> While I’m at it, someone seems to have gained access to the blog and “enhanced” the entry with information about “cheap jerseys”, feng shui and other unrelated stuff.

[2017-05-30 20:53] Jose-Moreno commented on #533
@J5lx Thanks a lot! To be honest I had forgotten about that entirely! Also I cleaned the random hyperlink  injection.

[2017-05-30 22:08] scribblemaniac commented on #533
There are a lot of good ideas here, and some of these ideas will be added and issues will be fixed. Feel free to use this issue to discuss changes to the timeline, but for now the focus (at least for me) on this topic is the behind-the-scenes work to migrate the existing timeline to QGraphicsView, optimizing to take best advantage of its caching capabilities, and improving the code structure. This

[2017-05-31 01:41] J5lx opened #681 "Movie Exporter Rewrite"
This came up in #671 a few weeks ago and I figured it deserved its own issue by now. I’m going to go into details, so this will be long; the tl;dr is that the current movie exporter based on the FFmpeg CLI is inelegant and inefficient and it would be better to use something based on an API such as the FFmpeg API.

### Current state of affairs

The current exporter employs a mixed bag of Qt APIs, c

[2017-05-31 04:50] chchwy commented on #681
Thanks @J5lx

First, I'm not an opponent of the API-based exporter. Actually, it's great to see Pencil2D has a built-in exporter.

The idea of using an API-based exporter was in my mind but ended up not doing it because of lacking time. Since I have done a couple of API-based exporters in my daytime job, mostly on Windows & iOS. It usually took me 2-3 weeks full-time work hours to make it bug-free

[2017-05-31 07:48] J5lx commented on #681
First of all, I’m sorry if I you feel that I labelled you as an opponent, that was not my intention. Your concerns and suggestions that I mentioned are completely valid, I’m just not 100% happy with the solution since it creates an overhead for each platform.

Regarding the different exporters, it’s good to know that there is someone already familiar with the other relevant APIs. As for choosing a

[2017-05-31 07:54] J5lx commented on #681
BTW I haven’t thought about it much but maybe we can also use an approach where we load the FFmpeg libraries dynamically at runtime and bundle necessary headers or something. It would certainly mean some extra effort, but it would allow Pencil to be built with the FFmpeg API exporter even when FFmpeg is not available at build time, and it would simply pick up the libraries when it needs them simil

[2017-05-31 16:53] CandyFace commented on #533
Looking good @scribblemaniac do you accept PR on your branch or would you rather complete it yourself?

@J5lx Ah yes Pascal also had a vision of the timeline (among other things), although somewhat dated it does point towards similar things. Thanks!

As for the mockups I was talking about, I've had some time play around with the look and in the process tried to work out some new icons too.

New or

[2017-05-31 19:50] Jose-Moreno commented on #533
@CandyFace I think this first mockup looks excellent. Certainly your research and observations are spot on. With this solution I feel the simplicity of Pencil2D has been retained and it does look more mature and professional.

I have a few small observations regarding the zoom feature and the keyframe / frame insert duality too. For zooming the UI suggests that you have to click several times to z

[2017-05-31 21:30] CandyFace commented on #533
@Jose-Moreno Thanks! yes I think so too, just replacing all qt related buttons with actual images gives it a much more finished look. This is something I would like to do to all the standard UI elements at some point...

As for the zoom buttons, you are right. I do know that most of the mentioned softwares use a slider for zooming, I just didn't incorporate one in this mockup, i'll replace the but

[2017-06-01 03:45] vpaintanimation commented on #654
@Qwerp-Derp I have changed the title, it should be consistent with the content. Thanks for reminding.

[2017-06-01 03:55] chchwy commented on #654
Happy to see that if someone wants to implement it ;)

[2017-06-01 07:14] scribblemaniac commented on #533
@CandyFace I would like to complete the code for the initial rewrite (for feature parity to the original timeline) on my own so that the code structure is consistent with my vision. After I've laid that foundation though, I would gladly accept PRs for many of the new features discussed here. I will post something here when I get to that point. Since you are taking such an interest in this suddenly

[2017-06-02 03:58] Jose-Moreno opened #682 "[BUG] Can't open a previously saved .PCLX file with imported data"
### --Issue Summary--

Disclaimer: I'm posting this issue in behalf of a Pencil2D forum user.
Related: We had a similar bug in the past which @chchwy fixed via this [commit](https://github.com/pencil2d/pencil/commit/20891445508a9e238f67fd3491ec8a409684f9fa)

### --Actual Results

Trying to load a .pclx file pops up an error (screenshot below)
The file doesn't seem to have been wiped as reported in

[2017-06-02 10:31] J5lx commented on #682
I couldn’t reproduce the error here on Linux and the file does seem to be fine to me. There are no sound layers so the MP3 and WAV files are not actually used, but that’s all. However I see that there are question marks in some of the sound file names and I wonder if there might be some kind of encoding problem. At some point I had those in the past with ZIP files and Linux programs seemed to cope

[2017-06-02 10:48] CandyFace commented on #682
I too have tried and can't reproduce this. It seems it's an Windows related error. Perhaps as J5lx says, an encoding problem because of the filename with certain characters.

@Jose-Moreno does it work if you extract the content, rename the audio files, zip, change to .pclx again and import?

[2017-06-02 12:06] chchwy commented on #682
Has confirmed it happened on Windows. The main.xml doesn't be unzipped properly, so pencil2d couldn't open the xml file. Looking into the Quazip source code at the moment.

[2017-06-02 13:55] CandyFace commented on #678
Posting this (slightly edited) comment I made on the PR^ here, as it's relevant to the issue.

Pressure doesn't do anything for brush unless feather is on. I recall it was discussed whether Brush should have size pressure or not and I believe that it concluded that pressure should only affect feather at the time.

Because of that and the fact that there's no constant control for feather blending y

[2017-06-02 13:58] J5lx opened #683 "Apply a consistent code style"
Something that really stands out to me when working on Pencil’s code is that there is no universal code style. While there are certain conventions that are more prevalent than others, it seems that it is never universally consistent. Since I think that everyone will agree that any style is better than no style at all, I compiled a list of the various conventions in use so we can have a discussion

[2017-06-02 13:58] J5lx commented on #683
As for my own opinion, I can live with every single convention I marked as prevalent. However there are some cases where I’d still *prefer* a different convention:
- For whitespace in parentheses (3) I’d prefer the variant without spaces; firstly because it is less verbose and secondly because I have yet to discover a single editor that can insert those spaces automatically
- For braces (5) I’d pr

[2017-06-02 14:25] aprekates commented on #680
Thanks . i'm aware of the workaround and it's difficult to make precision copies.

[2017-06-02 14:54] CandyFace commented on #683
Thank you for doing this! @J5lx

I've thought about it too but never got around it.
So far i've just tried to stay consistent with whatever style each individual class has had, but I having a  genereal coding style would make everything much easier.

As for my preferences:
1. ii, I personally think tabs are easier and faster than having multiple spaces. That said, the editors I use can automatical

[2017-06-02 14:59] chchwy commented on #682
Here is the PCLX file that I fixed, should be loaded without problems:
https://www.dropbox.com/s/3mhdts1rckevj0g/what.pclx?dl=0

I'm fairly certain it's a filename issue. There are 2 files which have non-ASCII filename in the PCLX. Obviously zlib doesn't handle it properly on Windows. It results in a sudden interruption of unzip process before the most important file `main.xml` is unzipped.

I'll

[2017-06-02 16:13] Jose-Moreno commented on #682
@chchwy I figured as much, I already warned the user to rename any sound file with alphanumeric latin characters for the time being as I was suspecting this issue could be either due to an encoding issue or due to the imported data filesize, considering all the files that weren't able to be opened in the initial report had a similar file size.

I'll close this once you've pushed the fix, thanks a

[2017-06-04 10:29] aprekates commented on #445
I get the polyline ghost areas in build 2-Nov-16  in windows 10.
Has the bug get fixed in linux maybe?

[2017-06-04 10:32] CandyFace commented on #445
The bug is fixed universally, not in Nov 16 build though, you need to at least get something from Feb 2017 but using the latest Nightly build would be the best.

[2017-06-04 12:41] aprekates opened #684 "Filled area of a bitmap layer seems to have different layer order than it's layer."
### --Issue Summary--

### --Actual Results
In a new canvas.
Draw in the bitmap layer a horizontal line with the brush tool (lets say red)
Create a new bitmap layer and select it.
Draw again with the brush tool a black area.
Use the bucket to fill the area with another color.
Now make the layer with the filled area first in the stack (lower)
The line seems to be in front of the oultine but not the

[2017-06-04 18:35] Jose-Moreno commented on #684
@aprekates This is not exactly a bug, it's an intended feature that seems to never have been fully developed by the original author of pencil. Usually when you are working on any production coloring can become difficult particularly if you require to fix colours after applying the paint. You can do this in TVPaint as well, where you can choose if you want to colour a layer below the linework, or i

[2017-06-04 21:34] aprekates commented on #684
Thanks for the feedback.

My argument is that since this is mainly a simple animation with not steep learning curve it'd make
sense to remove that half-implemented feature and make it optionally available when it's ready.

[2017-06-05 17:46] J5lx commented on #195
I don’t have any idea where the categories named above come from. I searched for that combination on the internet but I didn’t find anything related to Pencil2D. Anyway I think it’s safe to say that this was introduced somewhere downstream. On top of that I recently introduced a [a more recent desktop entry](https://github.com/pencil2d/pencil/pull/671/files#diff-37648b414abdcad00bf7f64e37d08dfb) t

[2017-06-05 19:22] CandyFace commented on #195
I agree, in general all useless files and such should be removed to avoid causing such confusions.

[2017-06-06 20:00] CandyFace commented on #683
Any update on this @J5lx? I've already started to apply some of the prevalent things we've agreed on in my newest PR and also made a config file for "Artistic Style" Formatting for Qt Creator, for those who use Beautifier.

[2017-06-06 20:01] #603 closed

[2017-06-06 20:42] J5lx commented on #683
For the most part I was interested in hearing from @chchwy before making any final decisions. But while I’m at it I might as well address some points right now.

- (1.) I personally really like the advantage of spaces taking the same amount of columns everywhere
- > prevalent, while ' i ' can be somewhat easier to read, it can be such a pain to keep track of.

  To me, this reads a little like you

[2017-06-06 20:58] CandyFace commented on #683
Ah right, yes that makes sense.

(1) As I mentioned above, my editors auto convert from tabs to spaces, so if you guys prefer spaces then that's fine with me.

(3) whoops that a typo, I meant I prefer ii (no spaces). I've never personally liked to use the prevalent and I think it's an annoyance to add spaces around all parenthesis.

(8) I'm fine with a recommended (80) and soft limit (120).

[2017-06-15 14:33] CandyFace commented on #684
duplicate of #524, closing.

[2017-06-15 14:33] #684 closed

[2017-06-15 14:34] CandyFace commented on #524
fixed in #687

[2017-06-20 22:59] CandyFace commented on #682
@chchwy you updated zlib some time ago, did you fix this problem or is it still ongoing?

[2017-06-20 23:01] CandyFace commented on #670
I'm closing this as OP used an old version of Pencil and the problem can't be reproduced in the latest build.

[2017-06-20 23:01] #670 closed

[2017-06-21 00:07] chchwy commented on #682
No, new zlib doesn't solve this issue.
What I plan to do is rename sound files to a simple number like 0001.mp3 on importing.

[2017-06-21 01:17] chchwy commented on #683
Happy to see some guys raise this issue.

But I won't be surprised the coding styles we prefer are different. You might notice that I followed a minimal coding style, which is a subset of my company's coding style so I don't need to configure my editor to 2 settings lol.

1. prevalent
2. prevalent
3. prevalent
4. prevalent
5. a brace always has its own line.
[code]

6. prevalent
7. all ok for me
8

[2017-06-21 04:28] chchwy commented on #681
Yes, surely we can start with an FFmpeg exporter as default on all platforms, and then implement other exporters later.

The multimedia formats issue is a mess, there are 3 points we need to discuss:

1. what formats we want to support on importing?
2. what formats of files we want to keep in a pencil project?
3. what formats could pencil2d export?

A primary concern is what formats QMediaPlayer()

[2017-06-21 07:57] CandyFace commented on #682
Ah I see, yeah that sounds like a good solution.

[2017-06-23 05:40] chchwy commented on #61
I'm going to change MoveTool's default shortcut to [M].
Also I noticed that tooltips of all these tools are hard coded even the shortcuts are customisable now.
I will open another issue for the hard coded shortcuts and close this one.

[2017-06-23 05:41] #61 closed

[2017-06-23 05:53] chchwy opened #691 "The shortcut of tools in tooltips are hard coded"
### --Issue Summary--
We have some tooltips showing when users move the cursor over a tool button
for example: "Pencil Tool **(N)**: Sketch with pencil"
But once user customise the shortcut , tooltip doesn't reflect the change.

### --Expected Results--
The tooltips should reflect shortcut changes.
For example, a user change the shortcut of pencil to [Ctrl+P]
The tooltips should be "Pencil Tool **

[2017-06-26 02:50] #691 closed

[2017-06-27 22:51] Jose-Moreno commented on #540
@chchwy @J5lx @CandyFace @feeef @gordielachance @scribblemaniac Good evening everyone. It pleases me to announce that we've finally been given authority over the Pencil2D Bountysource page.

First I'd like to add those mentioned as members of the core Pencil2D team on BountySource so we can come together to consider rewarding specific development tasks that need our immediate attention. This would

[2017-06-28 04:12] chchwy commented on #622
Hi @mangeurdenuage,

I have added a preamble of the license to every source file.
Also added the license of third party libraries to their folders as following

- Quazip: <https://github.com/pencil2d/pencil/blob/master/3rdlib/quazip/COPYING>
- zlib: <https://github.com/pencil2d/pencil/blob/master/3rdlib/zlib/README>

But i'm not sure how to deal with images, if I want to use CC-BY-SA 4.0, put a li

[2017-06-28 10:21] mapreri commented on #622
Well, it's true that you added an header, but that header is not saying the version of the GPL.
[code]

TTMOMK previously this project was licensed under the GPL-2 license, so you're going to need to keep it unless you get the other copyright owners of those GPL-2 bits (Patrick Corrieri, Pascal Naidon, Mj Mendoza IV) to agree to move to another license (e.g. GPL-2+).

Also, be aware that the quazi

[2017-06-28 10:29] J5lx commented on #165
#165 got merged and this feature is now available in master, so shouldn’t this be closed?

[2017-06-28 10:33] CandyFace commented on #165
Indeed it should, I just forgot about the issue ;)

[2017-06-28 10:33] #165 closed

[2017-06-28 10:41] J5lx commented on #480
Can this be closed now that we have AppImages?

[2017-06-28 11:58] chchwy commented on #622
Alright, now it clearly states the version 2 of GPL.

[2017-06-28 12:12] chchwy commented on #547
This issue has been fixed by @martinvanzijl, I'm going to close it.

[2017-06-28 12:12] #547 closed

[2017-06-28 21:20] mangeurdenuage commented on #622
@chchwy
--I have added a preamble of the license to every source file.--
--Alright, now it clearly states the version 2 of GPL.--
Thank you for your great work.
I am happy that the situation was clarified.

--But i'm not sure how to deal with images, if I want to use CC-BY-SA 4.0, put a license declaration in the resource folder, is it enough?--
Yes it is enough.
You simply put a copy of the licen

[2017-06-28 23:05] mapreri commented on #622
@mangeurdenuage

sure, never said otherwise.  I just wrote it in advance to make sure nobody (illegally) mistook pencil2d for a GPL-2+ project.

Yes, TTBOMK all libraries and stuff pencil2d links to and includes/embeds all have compatibile licenses.
At least, as long as none of them decide to relicense them under (L)GPL-3(+)…

[2017-06-29 10:11] CandyFace commented on #533
Updated mockup 1:
![artboard1](https://user-images.githubusercontent.com/1045397/27681833-bf24ff3e-5cc0-11e7-8d5b-9d855ad8cb9f.png)

Mockup 2: thumbnails
![artboard2](https://user-images.githubusercontent.com/1045397/27681838-c252f698-5cc0-11e7-9686-de03824fb356.png)

[2017-06-29 11:29] CandyFace commented on #663
fixed in PR #696

[2017-06-29 11:29] #663 closed

[2017-06-30 13:29] J5lx commented on #681
Here is my take on formats (for the most part assuming an ideal world where all formats are available):

1. Import:
   - WAV - Lossless audio format, usually uncompressed so it can get huge. De-facto standard in audio production (AFAICT). Currently already offered by Pencil2D.
   - FLAC - Lossless audio format featuring good compression, somewhat slow to encode but fast to decode. De-facto standar

[2017-06-30 19:19] Jose-Moreno commented on #681
@J5lx I agree these should serve as a the base file formats, regarding OGG though, I've worked on Game Dev, and everytime the Game Engine guy asked for OGG files as opposed to MP3 or WAV. This is particularly true for Mobile development. So I don't know if OGG should also be included, not only because open source, but also because it's very widespread. On the video side MKV comes to mind (as a pai

[2017-06-30 22:28] J5lx commented on #681
Ah, now that you mention it I think Ogg is popular for games because it’s lossy (i.e. very small filesizes) and works on all platforms without licensing issues. If we decide to support it we’d still need to determine the codec to use, though (Vorbis or Opus).

As for good old I-can-do-everything Matroska, I’m not sure if it provides that much value over the other formats in our case. The way I see

[2017-07-01 07:33] feeef commented on #533
Thank you so much for your hard work @CandyFace ! Your mockups look great! I am used to Flash so I tend to prefer the first layout but I have to admit that the second one looks great as well. Do you plan to have an option to switch from one layout to the other?

If in some way I could manage to find the time and knowledge to complete the mypaint port, we would combine those great improvements and

[2017-07-01 09:23] CandyFace commented on #533
Thanks @feeef
Yes, the idea should be that the user can choose to use either of those layouts, possibly via a toggle button or something.

[2017-07-01 15:50] feeef commented on #533
Wow, it sounds great! Can't wait to see the result!

[2017-07-02 15:54] Jose-Moreno opened #697 "[Translation] Request to add an European Portuguese (pt-PT) translation slot"
@chchwy It seems Brazilian Portuguese and European Portuguese (Portugal) are very different despite their roots. So a user has requested this in our forums:

http://www.pencil2d.org/forums/topic/translation-language-request/

[2017-07-03 00:46] chchwy commented on #697
Portuguese has been added.

[2017-07-03 01:58] Jose-Moreno commented on #697
@chchwy Thanks Matt. I'll let the user know so he can contribute right away :)

[2017-07-03 01:58] #697 closed

[2017-07-05 21:59] J5lx commented on #480
Umm… anyone here? Can this be closed now that we have AppImages?

[2017-07-05 22:36] chchwy commented on #480
Give it a shout if any linux guy here.... (I'm not a linux guy :p)

[2017-07-05 23:34] Jose-Moreno commented on #480
@mapreri @feeef Since you guys were interested in this particular issue, we're wondering if this can be marked as resolved. Now that Appimages have been implemented for linux distros we'd like to know what is your take on this?

[2017-07-06 08:53] J5lx commented on #480
In that regard I could try to get it into the Arch repos (unless there is some other Arch user here who already has connections to the TUs). The initial report was about a package “that works on all the main distributions” though, and that kind of cross-distro packages is what AppImages are all about.

[2017-07-06 11:20] mapreri commented on #480
yeah, the initial repo is about those common packaging format like appimages, which I don't particularly care, and I think that is done now, so this bug can probably be closed.

[2017-07-09 07:51] scribblemaniac commented on #552
Closing, this issue was fixed with #660.

[2017-07-09 07:51] #552 closed

[2017-07-10 06:12] #457 closed

[2017-07-10 06:12] #461 closed

[2017-07-15 10:09] CandyFace commented on #581
The amount of information in this issue, makes it hard to diagnose. I'm closing the issue.

@SANSYBOY1234 if you still have this problem in the newest nightly build, please make a new issue and fill in as much information as possible.

[2017-07-15 10:09] #581 closed

[2017-07-16 20:25] martinvanzijl opened #706 "Clearing recent files menu then saving animation crashes Pencil"
### --Issue Summary--

When I clear the recent files menu, then save the animation, Pencil crashes.

### --Actual Results
Pencil crashes with a segmentation fault warning.

### --Expected Results--
Pencil should save the animation as usual.

### --Video or Image Reference--

Video:

[clear-menu-defect_edit.zip](https://github.com/pencil2d/pencil/files/1151330/clear-menu-defect_edit.zip)

Image:

!

[2017-07-16 22:04] J5lx commented on #706
From the documentation of QMenu::clear():

My guess is that this is the problem. I’ll look into a proper solution.

[2017-07-16 22:06] CandyFace commented on #706
While we are at it, is there a reason why the clear button in the preferences window that I implemented some time ago has been kept? I don't see a reason why both should exist.

[2017-07-17 00:43] #706 closed

[2017-07-17 14:14] J5lx commented on #683
Okay so I took some time to look at this again. First of all, to address a few points:

Many editors allow loading pre-defined code styles per project. The editorconfig I mentioned previously is a file in the project root that is loaded by editors that support it to automatically adjust the code style settings according to the project. A Qt Creator plugin [is available](https://github.com/editorco

[2017-07-19 04:20] #682 closed

[2017-07-25 22:18] CandyFace commented on #683
To get this going, I've changed my stance on these:
(1) prevalent
(2) one newline (ii)
(3) no space
(4) (i)
(5) unchanged
(8) (i)
(9) unchanged
(14) (iii)
(15-17) unchanged

I still feel very strongly about not having spaces and using a coding style that doesn't waste too much vertical nor horizontal space i.e. (OTBS)

[2017-07-26 09:12] CandyFace commented on #661
This is related to this commit: 6abb0bc46e3c7ff2464140c9bdeadb690b2ad8bd
while I appreciate the work @feeef has done, I don't think the brush should act as a fill behind tool for vector by default. We could implement z-order control to ascend, descend the stroke position though, that would make it useful for vector drawing in general.

[2017-07-26 21:44] Jose-Moreno commented on #661
@CandyFace I really like the idea of having z-order. In fact someone else had suggested such idea in the past but it's not on github.
Lately I've been thinking making "tracking" issues for each one of the core areas we had on the live document. Like the ones we discussed last time for the vector engine (and for which z-order would fit into). I've seen devs in other FOSS projects using those little

[2017-07-27 09:37] feeef commented on #661
I agree @CandyFace, z-order should be defined by a tool's property.
I tried to differentiate the brush and pen tool in the toolbox by making them different tools for different purpose. In this logic, the pen was used to draw art lines while the brush was used to color (behind those lines)

[2017-07-27 22:06] CandyFace opened #714 "Being able to drag layers without swapping"
### --Issue Summary--
When you drag a layer beneath another or in-between two, the layers will get swapped. This makes it difficult to organize layers when you have a lot of them.

As you add more layers and want them in-between, the problem grows.

### --Actual Results
The layers are swapped, putting layer 2.5 at 2 spot and 2 and 2.5 spot.

### --Expected Results--
The layer is moved between 2 an

[2017-07-27 22:09] scribblemaniac commented on #714
This will definitely be fixed in #533.

[2017-07-28 02:43] cjburkey01 opened #715 "Importing Sound On Mac Causes Crash"
### --Issue Summary--
When importing a sound, Pencil2D crashes suddenly.

### --Results
I expect the program to create a sound layer and import the sound, but it crashes before either is done.

### --Steps to reproduce--
I've tried a new project, and dragging sound in causes crash immediately. Importing from the file menu. creates the channel and then crashes.

### --System Information--
+ Pencil2

[2017-07-28 03:51] Jose-Moreno commented on #714
@CandyFace This is related to this issue #436 which was brought up by JonasThomas he even did a video where he explained this and other stuff. https://www.youtube.com/watch?v=INAsUcpywL8&feature=youtu.be  He did fixed a few other problems around that issues, but this particular layer behavior got stuck. Could be worth taking a look at all that thread to understand what was implemented too.

[2017-07-28 04:14] Jose-Moreno commented on #715
@cjburkey01 Hi, hmm I don't know how to say this but on the main website it's stated that Pencil2D has deprecated the use of version 0.5.4. So please use the latest development version which actually supports sound and has tons of fixes implemented ever since that old version. You can find the links on www.pencil2d.org landing page. But if you can't find it please visit the following link to get t

[2017-07-28 13:43] CandyFace commented on #715
Thanks for reporting, though as @Jose-Moreno says, there's a newer version available where this problem should have been fixed. Therefore i'm going to close this issue.

[2017-07-28 13:43] #715 closed

[2017-07-28 17:19] cjburkey01 commented on #715
That is what I ended up doing, and it works fine. The only issue is that (even with vector smoothing off and the vector layer disabled) brushes are extremely slow in this newer version. The slower I drag my mouse, the slower the brushes follow them.

[2017-07-28 17:24] CandyFace commented on #715
That sounds odd, what version of OS X are you using? I'm developing on a mac myself and have no such problem. I'm on OS X 10.11.6 myself.

Would you be able to make a video or gif of the issue?

[2017-07-28 18:52] scribblemaniac commented on #683
**Position clarification**
5. i (Allman variation)
9. 80 recommended limit, 120 soft limit, no hard limit

**Changed positions**
3. ii. I forget to add those spaces all the time. The spaces do make it slightly more readable, but it's not enough of a benefit in my mind to justify the effort.
14. iii (mPascalCase). While it's true that `myStruct->member` is unambiguous, member variables can still be

[2017-07-28 19:22] Jose-Moreno commented on #715
@CandyFace Actually someone on [facebook ](https://www.facebook.com/pencil2dsoft/posts/1855546264706073?comment_id=1857667054493994&reply_comment_id=1865963973664302&comment_tracking=%7B%22tn%22%3A%22R%22%7D) reported a similar issue with MAC OSX, claiming they were having a slowdown with their brushes. that was for July 11th version if i'm not mistaken, I suggested he use the one from July 19th a

[2017-07-28 19:41] scribblemaniac commented on #715
I'm on OS X 10.12.5 and I also have no such issues, the brushes are very responsive in the latest versions. Just speculation here since I don't have a way to test this, but perhaps it is an issue with Retina displays? The higher resolution might make it slower to update.

[2017-07-28 20:16] CandyFace commented on #715
@scribblemaniac While your speculation could be true, it shouldn't be possible, given that only a very small buffer image is updated as you draw. The pixel density shouldn't make it harder to update that area.

Without having a unit we can reproduce this on though, it's going to be difficult to figure out what's causing the delay.

@cjburkey01 is your macbook one of the newer ones with retina disp

[2017-07-28 21:52] cjburkey01 commented on #715
I'm using an iMac late 2013 MacOS 10.12.4. 2.9 GHz processor, 8 GB memory. Here's a gif: http://imgur.com/gbePnOw

Pencil2D Version: 2017-07-19_14:19:49

[2017-07-28 22:29] CandyFace commented on #715
Thanks for the information. So if my research is correct, it should be the 21.5 inches iMac with 1080p display, correct? if that's the case, then it's unlikely that the resolution is causing the problem. The problem looks very much like something we've had before, though I can't say whether they relate since a that was fixed a long time ago.

Are you drawing with a tablet or mouse? If the former,

[2017-07-29 00:34] J5lx commented on #683
Thanks for the update, @scribblemaniac, I updated everything and also changed my own stance on 14 to iii, so we now also have consent on 9 and 14. Also thanks a lot for bringing up those other points which I totally didn’t think about, especially the documentation ones. Speaking of which, I think you shouldn’t wait too long with PR’ing that Doxyfile; it’s more motivating to work on something like

[2017-07-29 02:18] scribblemaniac commented on #683
@J5lx Thanks for the updates and providing your positions.

I agree, although there is still a bit of work to be done before I would consider it ready. I will bump it up on my todo list.

[2017-07-29 08:42] CandyFace commented on #683
You indeed are raising a valid issue @scribblemaniac, documentation would be nice to have, especially for newcomers that doesn't get codebase. What are you missing before you would consider it ready?

My stance on the new options are the same as yours.
19. i
20. i
21. i
22. i
23. i
24. i
25. ii
26. i - although I would argue that if a variable needs documentation, then it should probably be rephra

[2017-07-29 14:23] scribblemaniac commented on #683
I'll go over all of the options again just to make sure they are all what I want them to be. I would like to modify the styling a bit more because it is ugly right now I my opinion, but I might just leave it if don't have enough time. Most importantly, I would like to set up some way of automatically regenerating the documentation on the gh-pages branch when the code on master is changed. Unfortun

[2017-07-29 17:04] J5lx opened #716 "Introduce API documentation"
Since our current codebase is rather scarcely documented, it seems that all agree that we should introduce some actual, structured internal API documentation. As of now, Doxygen seems to be the means of choice as documentation generator, and @scribblemaniac is working on a configuration for Pencil on [his add-doxygen branch](https://github.com/scribblemaniac/pencil/tree/add-doxygen). Until it is d

[2017-07-29 17:05] J5lx commented on #683
In order to keep this already long discussion focused on code style, I created a separate issue about the documentation: #716.

[2017-07-29 19:21] cjburkey01 commented on #715
Yes, that information is correct, I use a mouse.

[2017-07-30 14:46] CandyFace commented on #716
This too is regarding @scribblemaniac comment in #683

Imo. that can wait until later. I agree it's ugly and we should definitely change it, but it can wait.
As for auto deploying to gh-pages using travis, I found this guide: https://gist.github.com/vidavidorra/548ffbcdae99d752da02

[2017-07-31 00:54] #480 closed

[2017-07-31 00:57] chchwy commented on #505
https://github.com/pencil2d/pencil/milestone/1

[2017-07-31 02:15] Jose-Moreno commented on #505
@chchwy I think many elements have been greatly improved ever since last year that were beyond the scope of the initial plan. Regarding the points:

1) The **sound layer** you implemented is working and has been improved over time. For which we also really have to thank @martinvanzijl for his contributions as well.
2) The movie export is working great so far as well as the GIF import/export. Howev

[2017-07-31 08:56] J5lx commented on #505
As for the movie exporter rewrite, I think I *might* be able to get it working (and get it working *well*) until the deadline if I really concentrate on that task, but nonetheless there are still some parts left that I haven’t gotten to that could be anywhere from “easily doable” to “quite tricky”. And then we also need to think about testing, since not all Pencil2D users are running Arch Linux, a

[2017-07-31 13:39] chchwy commented on #505
#567 Camera layer is completely broken at the moment, I'm working on it. Don't worry about it, it is not really hard to me though.

#681 I agreed with @J5lx just no need to rush since we have a not-perfect-but-work exporter.

#520 I checked a few months ago, there is no serious memory leaking in pencil2d. I'm thinking that's not really a leaking problem. It may just run out of memory.

A Windows 3

[2017-08-01 00:51] Jose-Moreno commented on #505
@chchwy Regarding the leak, I agree. I've conducted several independent tests on the memory, and what happens is Pencil2D loads all the images at the same time once you open the file, so when you have more than 200~ images it uses a lot of RAM. I've managed to have around 1200~ individual frames, on a single layer, with drawings ranging from 360 to 1024 px square and it used all my 4GB ram, withou

[2017-08-01 16:13] darkhog opened #718 "[Feature/UI Improvement] Ability to display the palette as a table of color swatches instead of "named list""
### --Issue Summary--
This feature would be useful, because current way the palette is displayed when you get to larger projects with many different colors or really detailed coloring you need to go through the list to find the color you need. Something like GIMP's or Photoshop swatches with color name displayed after hovering would be preferred.

### --Actual Results
not a bug

### --Expected Res

[2017-08-01 16:47] J5lx commented on #718
Actually Pencil has supported a grid view in the colour palette for some time, though I’m not sure whether there are tooltips for the colour names. However this feature is not available in the ancient version 0.5.4 which you are using. At the moment our nightly builds are probably actually more stable than that “stable” version from four years ago. We are hoping to release a new version soon™, but

[2017-08-01 22:49] scribblemaniac commented on #505
If you needed further proof that there are no serious leaks, I did run Pencil in Valgrind a while back, which found no major memory leaks (a few minors ones which were fixed in #573 and a few from qt and the third party libraries which can't be helped).

Remember we do already have a way of selecting only a portion of the timeline for playback (i.e. the timeline range), we just need to configure i

[2017-08-02 03:14] lucaspontoexe opened #720 "Smudge tool leaves a white trail instead of a transparent one"
### Issue Summary
Smudge tool leaves a white trail instead of a transparent one. That can lead to problems if someone uses other background color than white.

### Image Reference
https://puu.sh/wZhYJ/bd24d1e241.png
![image](https://user-images.githubusercontent.com/25611847/28856013-e9f2322a-7716-11e7-928b-b48b7042af32.png)

### Steps to reproduce
1. Change the background to checkerboard on Prefer

[2017-08-02 03:16] lucaspontoexe commented on #720
_such an abstract modern art tho_ :P

[2017-08-02 19:18] CandyFace commented on #718
As @J5lx  mentioned, this has been available for quite some time now in the nightly build. I'm closing this.

[2017-08-02 19:18] #718 closed

[2017-08-03 20:06] CandyFace commented on #655
Update:
There doesn't seem to be any way of controlling the rendering priority of a QCursor, and it will therefore be rendered on top of everything as far as I can tell. The solution here is therefore to implement the circle as a normal qpixmap and render in the ScribbleArea paintingEvent.

[2017-08-08 01:30] Jose-Moreno opened #723 "Selection Flip x/y executing same function as View H/V Flip"
### --Issue Summary--

### --Actual Results

Edit > Selection > Flip is flipping the VIEW, when it should only flip the content of the selection.

### --Expected Results--

The Selection Flip function should flip only the contents of the marquee, and not the whole view. That's what Flip View function is for.

### --Video or Image Reference--

### --Steps to reproduce--

1. Create an arrow pointing

[2017-08-10 18:22] Jose-Moreno opened #724 "Movie Export broken in August Builds"
### --Issue Summary--

### --Actual Results

Exporting a movie no matter it's file extension (mp4, avi, gif) results in no file being exported
### --Expected Results--

Export functionality should render a video or gif.

### --Video or Image Reference--

### --Steps to reproduce--

1. Create an animation
2. File > Export > Movie
3. Browse for destination folder and press [OK]
4. Rendering bar appe

[2017-08-10 19:26] CandyFace commented on #724
Can confirm it doesn't work on mac too.

[2017-08-10 23:25] chchwy commented on #724
Looking at this.

[2017-08-10 23:47] chchwy commented on #724
Same here, it doesn't happen in my local build, that's weird :/

[2017-08-11 01:01] chchwy commented on #724
I found the reason.

In `movieexporter.cpp`, the code to write a key frame image to disk
[code]
was changed to this
[code]
According to [Qt's document](http://doc.qt.io/qt-5/qtglobal.html#Q_ASSERT), `Q_ASSERT` does nothing if QT_NO_DEBUG was defined during compilation.

@J5lx Just a kind reminder the code in Q_ASSERT() or assert() usually won't be executed in release builds :)

[2017-08-11 01:01] chchwy commented on #724
Fixed, please check the Aug 11 build.

[2017-08-11 01:01] #724 closed

[2017-08-11 07:42] J5lx commented on #724
Ah yes, that was quite an oversight on my part. I knew that assertions wouldn’t do anything in release mode, but since `Q_ASSERT()` looks so much like a regular function I forgot that that also applied to the condition.

[2017-08-15 01:20] lucaspontoexe opened #728 "Weird zoom rates when using the keyboard"
### Issue Summary
Zoom isn't working well with keyboard shortcuts. I believe that's a recent bug.

### Actual Results
There are very weird zoom rates

### Video or Image Reference
![2017-08-14_12-46-39](https://user-images.githubusercontent.com/25611847/29298394-a4ac27da-813d-11e7-9ae5-765a0d5d986c.gif)

### Steps to reproduce
1. Zoom in (120%)
2. Try zooming out (Hold Ctrl+Down)
3. Reset (Crtl+H)

[2017-08-16 11:44] CandyFace commented on #655
Implemented, closing.

[2017-08-16 11:44] #655 closed

[2017-08-16 22:42] Jose-Moreno commented on #9
@chchwy It's been a while but we have proportional ratio scaling, and rotation now. Skewing, Free Point transform (as in photoshop) and pivot point re-location (transform from a movable pivot point) would be pending though.

I think Krita has matured enough and it's written in QT C++ so maybe we can check that code?. However I don't know about their license or even if they have an API for such pro

[2017-08-17 00:57] #728 closed

[2017-08-17 01:13] chchwy commented on #723
Fixed by @CandyFace

[2017-08-17 01:13] #723 closed

[2017-08-18 16:38] probonopd opened #730 "Please consider to use GitHub Releases"
Please consider to use GitHub Releases rather than Google Drive for the downloads. It is more standardized and made for this purpose.

[2017-08-18 16:45] CandyFace commented on #730
This has been discussed before (see #582). We made the conclusion back then that Google Drive would suit better for nightly builds. Github Releases will be used for future stable releases.

[2017-08-18 16:47] probonopd commented on #730
OK thanks.

[2017-08-18 16:47] #730 closed

[2017-08-19 08:37] probonopd commented on #730
Would still make life _much_ easier for https://github.com/AppImage/AppImageHub...

[2017-08-22 01:03] Jose-Moreno opened #731 "Extreme Zooming transitions when using mouse or stylus"
### --Issue Summary--

### --Actual Results

The smooth transition we used to have when zooming in or out is now replaced with extreme zoom in or zoom out by just moving the mouse or stylus when using CTRL + Right Click functionality.
### --Expected Results--

Transition should be smooth and relative to mouse / stylus pointer displacement

### --Video or Image Reference--

### --Steps to reproduce

[2017-08-22 03:18] #731 closed

[2017-08-22 07:34] chchwy commented on #731
Fixed in Aug 22 version

[2017-08-23 11:46] Kaikogf opened #732 "[ISSUE] The SWATCH colors on the COLOR PALETTE keeps changing when selecting another color on the COLOR WHELL"
### --Issue Summary--
When selecting a default colour from the COLOR PALETTE list, it will be replaced with a diferent color selected from the COLOR WHEEL
[I think I already reported this on another comment but I lost its track]

### --Actual Results
A colour selected on the COLOR PALETTE is changed by the one picket on the COLOR WHEEL
[it makes no sense to have them named as a specific color if t

[2017-08-24 06:35] Jose-Moreno opened #733 "[Bug] Sound not looping when using "loop" toggle"
### --Issue Summary--

### --Actual Results

Sound continues until the end of the file while the playhead continues to loop. The sound doesn't start again.
### --Expected Results--

The sound should loop from the beginning everytime the playhead does. It should work when range is turned on as well.

### --Video or Image Reference--

### --Steps to reproduce--

1. Import a sound
2. Create a keyfram

[2017-08-24 06:46] Jose-Moreno commented on #732
@Kaikogf Hey, glad to see you around. Actually, this is not a bug. This is intended. Just so you know this is how it works on Industry standard software like Toonboom Harmony. On TB however you can "double click" on the palette to bring the color wheel, so it works as a safety feature. But the only way to color on that program is by using the palette first, picking up the colors you will use, and

[2017-08-24 06:58] Jose-Moreno commented on #732
Just to get the point across so others who join the discussion can understand the "why" of this behavior here  I attach a screenshot of toonboom harmony "colour palette" view

![image](https://user-images.githubusercontent.com/4912907/29653382-27c89620-886f-11e7-8082-f56a2eb313f1.png)

As you can see, there are two black colours. One says black, and the other one says "vectorized line" but it's st

[2017-08-24 07:13] feeef commented on #732
It is a feature indeed but it may lack documentation.

The color palette is supposed to give you quick pre-defined colors. The color wheel lets you define the color within the palette.

For example, when you are working on a vector layer, you define your "skin color" and draw all skin with this color. If you decide to adjust this color with the wheel, you will change the color of the swatch in the

[2017-08-24 07:37] CandyFace commented on #732
Imo. this should be optional, being locked to a palette as if you were back in the 90's on an indexed 256 colors, seems quite unintuitive to me. I know that usually you have a set of specific colors you use, which is fine but if you for example intend to paint a background, then you should be allowed to select colors freely, without changing your palette. This should not differ between the layer t

[2017-08-24 07:46] feeef commented on #732
I think that the palette should be locked as soon as you are in bitmap mode and unlocked when you are in vector mode as this dynamic swatch feature is only useful in vector mode. No need for an option here.

[2017-08-24 07:56] feeef commented on #732
However, in vector mode, this feature is required as every single stroke is linked to a swatch. Working with 1000 colors from the wheel would create 1000 swatches. In that case, it is better to let the user create its own palette and avoid overloading his project file without being aware of it.

Vector drawings are not made to use that many colors anyway. It is the point of having a bitmap engine

[2017-08-24 08:01] CandyFace commented on #732
Hmm yes that makes sense, however this needs to be better explained, ideally without having to look at a manual, otherwise we might run into similar issues being created.

[2017-08-24 15:55] Jose-Moreno commented on #732
@feeef @CandyFace Thanks for coming to discuss about this issue. I must agree that even in toonboom it is at first a counter-intuitive way of presenting the colors. However even though this is the standard if we can find a way to improve on this for future users, I'm sure it will be welcome.

The idea of locking it was the first that came to mind, but perhaps as Francois mentions we could make it

[2017-08-24 17:51] scribblemaniac commented on #732
Another possible way of handling this would be to make it easy to select no options from the palette. Then if no option is selected, the color wheel doesn't affect any of the swatches. In vector mode painting with no color selected should automatically create a new color (or maybe select an identical color if one exists).

[2017-08-25 18:49] Kaikogf commented on #732
Hey people!

I am glad it came to my attention this kind of behaviour of the Color Palette list.
I can see so far that it was in need to be addressed and since I was strictly speaking about using it while working with Bitmap Layers I quite understand its behaviour when using vector layers

The part of "naming the swatch" was a bit confusing to me. But I am happy to read some solutions:

@morr. The

[2017-08-25 19:31] scribblemaniac commented on #505
@chchwy What's the status on v0.6? I've got a bit of time off the next couple weeks, so is there anything I can do to help speed this along?

[2017-08-25 21:35] Kaikogf commented on #157
This feature was already implemented some time ago by @eVoLuTiVeMEDIA, and now I noticed that the pop-up palette is not present on the shortcuts list under the Preference panel

Was it disable?

[2017-08-25 21:38] CandyFace commented on #157
As far as I know, it's more or less removed from the source code. While there are some pieces left which are commented, I believe the base code and it's source files are gone.

[2017-08-26 00:01] Kaikogf commented on #320
@Jose-Moreno
I think this issue can be closed since the TimeLine was improved with those features referred by @jensenr30.

[A note: About your last words, when you say that we need to do this automatically, you may create a different Issue as "Request/Enhancement" for additional functionality]

[2017-08-26 00:35] Kaikogf commented on #314
Despite the vector tools (PEN and BRUSH) are far from working OK on VECTOR layers, I tested this Issue and it worked fine, no hang, no crash, no bug.

[2017-08-26 01:27] Kaikogf opened #734 "[ISSUE] When using the PEN/BRUSH TOOL a large stroke preview will not allow sketching on VECTOR Layers"
### --Issue Summary--
When dragging continuously with the PEN TOOL on a VECTOR layer it shows a _too large_ stroke that will cover eventually the whole canvas, particularly if you got a value size (Options Panel slide) bigger than (for instance) "10".
After releasing the pressure of the pen tablet the final stroke will be showed correctly.

With the BRUSH tool things are most similar: the _too lar

[2017-08-26 01:40] Kaikogf commented on #604
I tested this Issue with wav and mp3 files, creating even a third sound layer and everting was working fine, no bug

Maybe this post can be closed now?

[2017-08-26 01:55] Kaikogf commented on #490
@alexandervrs

I played a little bit with the dotted circle and it worked OK with me when I zoomed it.
What I noticed is that the dots are actually TOO big when you zoom in (not sure if you were referring to this?)

Not sure if it is possible to do it but I would suggest to have the dotted circle's thickness independent of the value of the canvas (dimension/zooms)

Opening a new issue with the sug

[2017-08-26 02:36] Kaikogf commented on #467
@Jose-Moreno

I have checked all the steps you provided here and I found everything is OK on my system

Still, about the _**D step**_, at first I thought you got a point (I mean I "managed" to get the same behaviour as yours when activating a fast tool. But I soon realized that if that is considered to be something related to an Issue than we still have the HAND tool, which behaves the same way th

[2017-08-26 02:56] Kaikogf commented on #438
@feeef

The Expand  settings for the bucket tool was already implemented [it is working on the last build 23August2017]. I just checked it today. Its working fine!

So there is only one feature left for the Bucket tool...
;)

[2017-08-26 03:36] Kaikogf commented on #546
@Jose-Moreno
I have tested this Issue with a PCL file, and Pencil2D crash and close after a message window appear:
This application has requested the Runtime to terminate it in an unusual way

[2017-08-26 04:28] Kaikogf commented on #286
I have re-checked every bug mentioned here and most of them were already fixed. So I decided to close this and to open a new post with the few remaining issues on this list, but with the same title (numbered 2)

Thank you for keeping this moving
👍

[2017-08-26 04:30] Kaikogf commented on #286
Sorry, I forgot that I have lost my ghost login.

@chchwy
Would you mind to close this post?

Thank you

[2017-08-26 05:06] Kaikogf opened #735 "[BUG] list of SHORTCUTS on the Preference-Panel that DOESN'T WORK [related to #286]"
### --Issue Summary--
The following Shortcut keys from the Preference Panel doesn't work:
- EXIT (CTRL + Q)
- Export SvgImage
- Export Xsheet (Ctrl+Alt+X)
- ImportimageSequence (**TIFF**, **PNG**, **JPG**, **BMP** with UperCase. **GIF** with Lower/UperCase)
- PREVIEW (ALT+P)
- PRINT (CTRL+P)

### --Actual Results
Shortcuts doesn't work at all

### --Expected Results--
In relation with the Importin

[2017-08-26 05:30] Kaikogf commented on #735
Following the previous issue #286

[2017-08-26 05:39] Kaikogf opened #736 "[ISSUE ?] PREFERENCES PANEL is opening with a new window everytime you select it on the Menubar"
### --Issue Summary--
Going to EDIT > and clicking on PREFERENCES will open the Preferences panel.
And while it is open, go and repeat the same process. it will open a new window every time you select it....
:O

### --Expected Results--
Should be open only one Preferences window

[code]

[2017-08-26 07:27] CandyFace commented on #438
The expand feature is not quite there yet, while it's true that you can "expand" the area by using tolerance, it's not a good way to go by it. What should be done instead is to use blob analysis, create a kernel that will go over the bitmap and expand or contract the painted area. I have an idea how to do this but haven't been able to get time to implement it yet.

[2017-08-26 07:28] #286 closed

[2017-08-26 08:03] CandyFace opened #737 "circle cursor doesn't adapt to correct QTransform in Vector"
### --Issue Summary--
This is related to  #725
I forgot that the two layer types are using different coordinate systems. Bitmap is on relative coordinates with (0,0) being in the center of the canvas, while on Vector, (0,0) is located in the top left corner... aside from that the coordinates are also reversed. This has not been noticed until now because internally QCursor would just adapt to whate

[2017-08-26 08:05] CandyFace commented on #490
There has been a circle cursor available for some time now.

@Kaikogf Yeah I think that opening a new issue would be ideal, then i'll close this one.

[2017-08-26 08:05] #490 closed

[2017-08-26 14:54] Kaikogf commented on #422
What I meant with my initial post was that I am not found of that camera size, besides it is an outdated dimensions now-a-days.

We have already discussed it on Pencil2D forum about implementing a new default camera resolution for Pencil.
http://www.pencil2d.org/forums/topic/pencil2d-nightly-builds-2015/#post-28715
and a camera resolution of 1280x720 mentioned by @chchwy gives Pencil2D a better fa

[2017-08-26 15:30] Kaikogf opened #739 "[BUG] HORIZONTAL FLIP hides content of the canvas when using VECTOR Layers"
### --Issue Summary--
When activating the _Horizontal Flip_ AND having the _SHOW OUTLINES ONLY_ activated [on the Display panel] all content of the canvas disappear.
_**Not sure but the Bug can be related to the Show Outlines Only feature instead of the Horizontal Flip!**_
;)

### --Actual Results
Flipping the canvas Horizontally makes its content to be hidden (only if the _Show Outlines Only_ fea

[2017-08-26 15:51] Kaikogf opened #740 "[ISSUE] When using the Dynamic Sizing on VECTOR layers the preview circle is far off to its left"
### --Issue Summary--
When Dynamically Resizing the size of a tool on a VECTOR layer, its preview circle will appear far off to its left-upper corner on the canvas

### --Actual Results
The preview circle is shown on the left-upper corner of the canvas (vector layer)

### --Expected Results--
To be shown underneath the cursor of the pen

### --Video or Image Reference--

### --Steps to reproduce--

[2017-08-26 15:55] CandyFace commented on #740
This has been fixed in upcoming PR #738

[2017-08-26 16:01] Kaikogf commented on #163
@CandyFace
You may close this post since there is already an option for exporting Alpha channel, or not 👍

[2017-08-26 16:02] #163 closed

[2017-08-26 16:06] Kaikogf commented on #734
NOTE:

I am not sure what have just happened with this ISSUE but today everything since to work rather OK...
I will check it once more

[2017-08-26 16:10] Kaikogf commented on #157
It was a nice implementation, using the same behaviour as the one done in Krita.
Helps a lot when painting
[I know, I know Pencil2D is for animation! 👍 ]

[2017-08-26 16:11] CandyFace commented on #734
I believe this is related to some recent changes @chchwy made while working on view and zoom. I don't know how to reproduce it myself entirely, I just know it can happen if you zoom very fast into 10.000% and back to 100%. I think it has something to do with the view not being updated properly under certain conditions.

[2017-08-26 16:16] Kaikogf commented on #740
@CandyFace
So it is a duplicated issue? I don't quite follow it :(

[2017-08-26 16:18] Kaikogf commented on #12
This is related to an Issue I open recently (#735)

[2017-08-26 16:20] CandyFace opened #741 "View not updating properly under certain conditions when zooming"
### --Issue Summary--
This could be related to the recent changes made by @chchwy, while refactoring the view and zoom behaviour. I don't know how to reproduce it myself entirely, I just know it can happen if you zoom very fast into 10.000% and back to 100%. I think it has something to do with the view not being updated properly under certain conditions.

### --Actual Results
If you can somehow re

[2017-08-26 16:23] CandyFace commented on #740
Not entirely since the issue isn't about the exact same thing. It's related to #737, but I guess we can count it as a duplicate.

[2017-08-26 16:23] #740 closed

[2017-08-26 16:24] Kaikogf commented on #575
@CandyFace
It seems the same topic as #2 (?)
If so you may close the other 👍

Thank you

[2017-08-26 16:59] Kaikogf commented on #438
Oh...  I see!

And the ability to feather the painted area is going to be **_perfect_** for some painting stuff !
👍

[2017-08-26 17:06] #2 closed

[2017-08-26 17:08] Kaikogf commented on #734
I tried to zoom very fast and I noticed that the canvas not always matched the initial zoom, meaning that when zooming in and then out the canvas will stuck somewhere in the middle. The more I tried to bring the canvas back to its position the more it got stuck far away.

Has nothing to do with this post, but just wanted to comment it 👍

[2017-08-26 23:26] Kaikogf opened #742 "[ISSUE] The BRUSH tool is lagging too much when Onion Skin is activated"
### --Issue Summary--
Brush tool is lagging considerable when OnionSkin is activated (Bitmap layer only)

### --Actual Results
The strokes are lagging only in bitmap layers

### --Steps to reproduce--
- Open Pencil2D
- Select Bitmap layer
- Select the BRUSH tool size around 10
- Add several frames and draw something in each one noticing how much it is lagging, or not
- Activate Previous and Next O

[2017-08-26 23:35] Kaikogf opened #743 "[ISSUE] The AntiAliasing feature on the BRUSH Options Panel is hidden when the FEATHER checkBox is selected"
### --Actual Results
Selecting the checkingBox _USE FEATHER_ on the Brush Options panel will hide the checkingbox of the Anti-Aliasing feature

### --Expected Results--
The Anti-Aliasing feature should be always visible

### --Steps to reproduce--
. Open Pendil2D
. Select Brush tool
. Uncheck the _**Use Feather**_'s checkbox to unhide the _Antialiasing_ feature

### --System Information--
+ Pencil

[2017-08-27 07:11] CandyFace commented on #743
This is intentional, as I explained here in #705, the way feather works makes anti-aliasing redundant when it's enabled and it is therefore being hidden whenever feather is on.

[2017-08-27 23:28] #737 closed

[2017-08-28 00:03] Kaikogf commented on #743
I see ! 👍

Well, and here it is just a simple question, thinking about it, would it be easier to have implemented just a _grey-out Antialiasing checkbox_ feature while keeping it visible to all?. Right now it was a bit confusing, not now, for me and it may be for others. But honestly I understand your way of thinking.

[2017-08-28 01:39] Kaikogf opened #744 "[ISSUES] Making changes to the UserInterface Panels some changes will not be saved when restarting Pencil"
### --Issue Summary--
I have played with some panels on the User Interface, and most of them can be changed its size and position on the canvas.
This is just explaining what I got and hopefully it will show some inconsistencies on most of the Panels and even in some of the options inside them.

None of the following situations are an Issue _per si_, but I believe it is worth to mention.

_Panels a

[2017-08-28 07:34] CandyFace commented on #743
I've recently been talking about removing the "feather" toggle for brush and just have it on always, as I think it makes sense for the brush type it's supposed to behave like, so i'll probably remove anti-aliasing from brush completely. If you want a finer stroke type, use pen, if you want a pencil like type, use the pencil.

[2017-08-28 07:47] chchwy commented on #743
Agree with removing the feather and AA toggles of the brush tool.

[2017-08-28 19:02] CandyFace opened #745 "Sound playback is displaced when playing from anywhere but start"
### --Issue Summary--
http://www.pencil2d.org/forums/topic/timeline-and-audio-syncing-issue/#post-29591

### --Actual Results
Sound playback gets displaced when you resume from any point but the start

### --Expected Results--
Sound playback should be consistent no matter where you start it.

### --Video or Image Reference--
editor:
https://youtu.be/x8K3KTFUSxo

export:
https://youtu.be/PqwtD_AcRN

[2017-08-29 07:11] chchwy commented on #735
Considering to remove these items since there are not used at the moment.

[2017-08-29 07:12] chchwy commented on #604
I believe it has been fixed. I'm closing this.

[2017-08-29 07:12] #604 closed

[2017-08-29 13:30] CandyFace commented on #742
I've thought about this one and I while I know that the optimization I did on my recent cursor PR, should make this a whole lot better, I don't understand why showing more frames would slow the rendering down so much. Just talking out loud to the other contributors here: I assume we're only rendering the other frames once right and then use cached images, because there should be no reason to updat

[2017-08-31 00:08] #733 closed

[2017-08-31 01:03] Jose-Moreno commented on #733
@CandyFace @chchwy Thanks a lot everyone!

[2017-08-31 17:11] Kaikogf commented on #744
I forgot to mention that the same thing happens when resizing the camera to a different default size, it will not be saved.
:(

[2017-08-31 19:37] Kaikogf opened #747 "[Enhancement] A way to turn Off/On the sound track"
### --Issue Summary--
When playing back a sound track, it turns out that the _Hidden Layer Icon_ on the timeline is not used for Off/On the sound track but to hide its layer instead.

### --System Information--
+ Pencil2D Version:
Build 31August2017

+ Operating System:
WIN8.1 X 64bits

+ RAM Size:
32GB

+ Graphics Tablet:
HUION GT185 HD

[2017-08-31 20:02] Kaikogf commented on #734
I have followed the steps and now things are working OK. I am closing this post.

[2017-08-31 20:02] #734 closed

[2017-08-31 20:31] Kaikogf opened #748 "[QUESTION] Is the UNDO feature used for "deleting" new frames/layers ?"
### --Issue Summary--
Is it normal behaviour that the UNDO feature is unable to UNDO the addition of new frames, even the addition of new Layers?

[2017-08-31 20:34] Kaikogf commented on #105
I don't understand the notes left by @wesen, but if all that meant that Pencil2D crashed at the time while undoing changes, then I will consider this issue fixed since I experienced no crash with Pencil2D.

If so (anyone understanding this issue?) it can be closed

[2017-08-31 20:35] CandyFace commented on #748
As far as I know, yes it is. We've avoided updating the timeline because it's being rewritten so anything not related to the canvas and palette won't be undoable until that's done or until someone wants to work on it.

This is also related to #36

[2017-08-31 20:36] Kaikogf commented on #748
You are fast... I was going to type that! 👍

[2017-08-31 20:38] CandyFace commented on #105
Yeah I think we can close this. There hasn't been any activity since last time I asked and I haven't been able to crash pencil by clicking undo for a long time now.

If the issue arises again, we can just open a new issue :)

[2017-08-31 20:38] #105 closed

[2017-08-31 20:47] Kaikogf commented on #423
The **_"Polytool erases nearby polylines"_** is no longer an Issue.  (last build 31August2017)

Despite the Title, there are comments that may be needed to read them again. If not, and as this issue was fixed, you can close this post

[2017-08-31 22:01] Kaikogf opened #749 "[SOUND] Wouln't be better to have separated layers for diferent sound tracks?"
### --Issue Summary--
I should have start this comment by asking if it is normal to have several sound tracks imported to the same layer?
If it is Ok, then I will close/delete this post 👍

[2017-08-31 22:03] Kaikogf commented on #546
Not a single Issue from the last build 31August2017

[2017-08-31 22:14] CandyFace commented on #749
Why would you want a layer per sound? that would kind of defeat the purpose of having frames for sound effects. it would also make quite a messy timeline when you're working with lots of sounds.

Multiple sound effects is perfectly fine on a single layer.

[2017-08-31 22:56] Jose-Moreno commented on #749
@CandyFace actually this is fairly common in video editing. Having multiple layers with different sounds help you "layer" the sounds when creating complex ambience motifs. Although it's better to think about it as having tracks. Sometimes the editor use a single track for a single sound, sometimes it uses them for sound categories like "soundtrack" or "foley" or "dialogue".

For an animation packa

[2017-08-31 23:27] Kaikogf commented on #749
When I first post that I was meanly thinking about the poor colour contrast of the sound tracks showing on the timeline. My eyes were not adapted to that but now I understand what was my idea: I wasn't able to see where each track started. Now I realized that  **_IF_** I select the track that is most to the right I can see all the other.

The more sound tracks you have the more difficult it get to

[2017-08-31 23:38] Kaikogf commented on #749
@Jose-Moreno

I just read what you posted. I agree

[2017-09-01 08:42] CandyFace commented on #749
@Jose-Moreno

That's not what I meant, I know that having individual tracks for, music, foley, sound effects and dialogue is common for better overview but that's already possible. From the programs i've used eg, Audacity and Ardour, it's still possible to have multiple sounds on a track though, so If people want to have multiple sounds on a layer in Pencil2D, then I don't see why we should remove

[2017-09-01 13:23] Jose-Moreno commented on #749
@Candyface Thanks for providing insight as always! Actually by reading your response it becomes clear that what we actually need is to rewrite the timeline. Just thinking logically, if the timeline rewrite will help structure these issues, then let's  wait for that. There's no need to patch things right now if those changes would become nullified by rewriting the timeline. If the changes will pers

[2017-09-01 20:13] CandyFace commented on #749
@Jose-Moreno
No problem :)
Indeed we need to rewrite the timeline, that's pretty much what i'm waiting for too but
setting a deadline on something like this is difficult, especially if you want someone from outside that doesn't know the coding structure and there's hardly any documentation the source code. @scribblemaniac has said that he wants to rewrite it himself, so we'll just have to wait for

[2017-09-02 00:47] Jose-Moreno commented on #749
@CandyFace Of course, didn't meant it to rush the task. I really want you guys to get some kind of compensation though. You've given a lot to the software so I think it's just measure. Hopefully we can count on next year being great for Pencil2D :)

[2017-09-03 03:02] Kaikogf commented on #735
@chchwy
The ImportImageSequence is working rather well, with the exceptions mentioned above [TIFF, PNG, JPG and BMP only import with UperCase extension. GIF only import with Lower/UperCase extension], so in order to remember you developers of those exceptions, it would be better to open a "new" issue?

[2017-09-04 04:03] scribblemaniac commented on #749
I will do my best to get the timeline rewrite done, but it's difficult to say exactly how long this will take. If things continue at the current rate, I'm positive I can get it done for the v0.7 release...which would be in 2021 😝. Jokes aside, I will aim to finish a significant portion of the new timeline by the end of the year. This issue and other similar ones do demonstrate the need for a timel

[2017-09-04 04:21] chchwy commented on #749
@scribblemaniac  I'm thinking to add a timeline-rewrite branch in the main repository so everyone who wants to contribute could join you, any thoughts?

[2017-09-04 04:28] scribblemaniac commented on #749
@chchwy As noted in [this comment](https://github.com/pencil2d/pencil/issues/533#issuecomment-305409281), I would like to get a bit more done before having other people contribute to it. This gives me the chance to make large changes if necessary without worrying about breaking things others are working on. However once that's cleared, as long as I have write access I think that would be a wonderf

[2017-09-04 04:41] chchwy commented on #749
@scribblemaniac good to know  :)

[2017-09-04 04:45] chchwy commented on #505
@scribblemaniac i'm working on camera tweening. The code is in the `feature/camera-tween` branch if anyone is interested, it's nearly done. I think the date of releasing 0.6 is coming.

[2017-09-04 18:28] Jose-Moreno commented on #505
@scribblemaniac I spoke with @chchwy on the discord server a few weeks ago, we established that I'd migrate all the feature requests into an "issue tracker" here on Github to allow for developers to review and create separate issues from it in order to better organize and parse the amount of work needed to finish certain tasks. This was also so we could have an easier way to identify these feature

[2017-09-04 18:33] scribblemaniac commented on #505
@Jose-Moreno We have a discord server? Can you share a link to it please? It might also be worth adding to the website sidebar if it's somewhat official.

[2017-09-04 18:49] Jose-Moreno commented on #505
@scribblemaniac Hey! actually @Spark01 create it for us in all his niceness. So we've been checking it out from time to time. We can't add it on the website sidebar because I don't have control over the website layout, and the webmaster has been very busy.

Spark announced it on Pencil2D's tumblr (which he also opened a long time ago) and I was planning to reveal this server when we announced the

[2017-09-07 16:01] CandyFace commented on #741
I haven't been able to reproduce this after some of the view changes has been reverted. Closing for now.

[2017-09-07 16:01] #741 closed

[2017-09-07 23:58] #716 closed

[2017-09-08 12:18] CandyFace opened #752 "Opening the same recent project, causes incomplete sound loading"
### --Issue Summary--
If you open a project, import a few sounds files, save it and open it from recent again, then the sound files will not be loaded and inserting a new sound file will crash the program with:
[code]

### --Actual Results
Recent file is loaded again but sound files are not imported correctly. Also, adding new sounds again will crash the program with the error above.

### --Expect

[2017-09-12 01:34] Kaikogf commented on #743
Just to let you know I also noticed today (Pencil2D build 12SET2017) that the ERASER tool also hides the _Anti-Aliasing_ feature if the _Use Feather's box_ is selected.

[2017-09-12 02:30] Kaikogf opened #755 "[ISSUE] Vector Layer will be kept active even when using a Bitmap layer"
### --Issue Summary--
After using a vector layer and starting drawing/painting on a Bitmap layer, changes applied on the active layer (bitmap) will also affect some colors on the vector layer

### --Actual Results
When changing colours on the bitmap layer, it will affect the last colour applied on the vector layer

### --Expected Results--
Vector and bitmap layers are independent.

### --Steps to

[2017-09-14 16:09] #745 closed

[2017-09-20 14:46] CandyFace commented on #742
@Kaikogf can you confirm whether this has been fixed in latest master?

[2017-09-21 20:48] CandyFace opened #762 "Additional options for fill tool"
The fill tool needs more features to become really useful, one feature i'm particularly interested in implementing for bitmap is the ability to exclude fill on a specific color.

The feature comes from the animation program Retas Studio, which in Asia was much loved when working with cels.

![image](http://s1.postimg.org/blc8azjm7/tvp_ex.gif)

### TODO:
- [ ] Exclude/include colors when filling
-

[2017-09-23 04:56] Jose-Moreno commented on #762
@CandyFace Yes! There was a similar request done in the past, more like TVPaint where you could tint or delete specific colors via macros or a tool. But this feature distribution looks great too and is very close to the feature idea!

One thing though, this is considering that one would ink & paint with bitmap tools. But what could be done about the ink & paint with vector tools?. I just realized

[2017-09-23 15:11] CandyFace commented on #762
I have no real plans for the vector fill tool except fixing the fill algorithm by filling the given vector points ( which I already have sorta working ) and stroke fill. Filling segments could be an interesting idea too.

You can see WIP here
![2](https://user-images.githubusercontent.com/1045397/30774327-1688feca-a081-11e7-81d4-39000ddffde4.gif)

It's not perfect yet, because it works like this:

[2017-09-24 16:14] Kaikogf commented on #742
@CandyFace

Yes, it its now working with no perceptible lag ! I even use Brush size 50 and it is working just fine. 👍

Issue fixed
Thanks

[2017-09-24 16:14] #742 closed

[2017-09-25 19:19] #36 closed

[2017-09-25 20:51] CandyFace commented on #653
Since there has been no activity for soon 6 months, i'm closing this issue.
We need more information for this to be solved.

[2017-09-25 20:51] #653 closed

[2017-09-26 19:30] CandyFace commented on #762
I have reliable vector fill working now.
objects sticking to each other has also been fixed in most cases.
![vector progress](https://user-images.githubusercontent.com/1045397/30879959-553c5144-a301-11e7-97e5-d1468e91adb5.gif)

I still need to solve objects sticking each other with automatic contour fill but it's getting there.

[2017-10-01 02:54] Jose-Moreno opened #765 "[BUG] Still Image and Img Sequence export not applying camera motion"
### --Issue Summary--

### --Actual Results

When Exporting either an Image Still or an Image sequence when there is a camera interpolation / keyframe motion, it will result in a static frame across the exported frames. Even if you move the camera in the first frame, and export a still image, the camera "animation" it will not be applied.
### --Expected Results--

Camera motion, regardless of expo

[2017-10-01 03:09] Jose-Moreno opened #766 "[Feature Request] Add "Camera Motion" Toggle for Hand Tool."
### --Issue Summary--

Hey, so I was trying out the camera motion and although it works as expected, there's a bit of trouble with the UX side of it particularly when you are animating at HD resolutions. Once you have any resolution over 1080p or above on your camera size, once you try to zoom out and then re-position your camera to get a better preview of the motion from afar, the camera layer wi

[2017-10-08 02:26] Kaikogf opened #768 "[BUG] SOUND file will not be imported untill you manually add one frame to the SoundLayer"
### --Issue Summary--
Sound file will not be added successfully to its Sound Layer until there is at least one frame

### --Actual Results
Importing a sound file will not be correctly imported until a frame is present on its Sound Layer

### --Expected Results--
Ready to playback the sound file as soon as it is imported

### --Steps to reproduce--
1. Open Pencil2D as new.
2. Go to FILE > IMPORT >

[2017-10-11 21:52] aprekates commented on #680
Hi from greece. I've just tested Nightly 2017-09-23 on ubuntu 16.04.

The issue seems resolved.

Thanks to the programmer(s)

[2017-10-20 14:25] CandyFace commented on #768
I can't seem to reproduce the first issue, although i've had some weird problems with the timeline too when importing sounds, they've always been periodic and not reproducible.

Your second issue is valid, although that's the intentional behaviour atm. because only drawing on the canvas will trigger such message. Creating frames and interacting with the timeline does not count.

[2017-10-22 01:54] Kaikogf commented on #768
[I edited the steps to recreate the first Issue so it could be easily understood. I reproduced it again following the steps above so it is a consistent Issue though.
The second issue I found it to be as such because I was to believe that any change in Pencil2D would have triggered the warning window]

[2017-10-22 05:00] Jose-Moreno opened #769 "[Bug] Changing to Russian Language, switches to Japanese instead"
### --Issue Summary--

This is a report that was posted on the forum. I'm posting on behalf of the original user. You can visit the thread here: https://www.pencil2d.org/forums/topic/select-japanese-language-instead-russian/

### --Actual Results

I select Preferences > Language > Russian, then restart Pencil and see Japanese instead Russian. So can’t select Russian 🙂

### --Expected Results--

Sw

[2017-10-22 05:00] Jose-Moreno commented on #769
Can confirm, it happens on windows September 23rd RC as well.

[2017-10-23 05:39] #769 closed

[2017-10-23 05:40] chchwy commented on #769
Should be fixed in Daily build 23 Oct 2017

[2017-10-23 05:57] chchwy commented on #768
I couldn't replicate issue 1 either.
I guess maybe it is related to some specific audio files? Could you share your audio file with us?

[2017-10-23 23:13] Jose-Moreno commented on #768
@Kaikogf @CandyFace @chchwy

I think there's some information that you need to provide such as Nightly Build version and the filetype for the audio sample you are using.

As for me, I am using Pencil2D September 23rd 2017 build, on Windows 7, I can't reproduce the initial issue. I take the same steps you outlined (and edited), and I can import the file and play it normally on the timeline.

I too

[2017-10-28 09:28] chchwy commented on #765
Hi @Jose-Moreno
This issue should be fixed in 28 Oct version, could you please confirm?

[2017-10-28 09:32] chchwy commented on #567
Done. I'm going to close this.

[2017-10-28 09:32] #567 closed

[2017-10-28 15:09] Jose-Moreno commented on #765
@chchwy alright I'll give it a try throughout the day. I'll report approximately at 20:00 pm GMT -5 thank you for your work!

[2017-10-28 16:20] Jose-Moreno opened #770 "[BUG] Exporting Still Image Frame without Camera Layer Keyframe Crashes Pencil2D"
### --Issue Summary--

It seems that exporting still images of any frame that doesn't have a camera interpolation keyframe directly below will crash pencil2D.
### --Actual Results

Exporting a still image of any frame of an imported image sequence / frame drawn inside pencil2d different from frame 1 crashes Pencil 2D
### --Expected Results--

Pencil2D should not crash from exporting still images f

[2017-10-28 16:21] Jose-Moreno commented on #765
![came_interp_test](https://user-images.githubusercontent.com/4912907/32136059-6de3ad38-bbce-11e7-92e4-2b201c43ba0f.gif)

I had time early, so I gave it a quick try. Exporting image sequence works well even when rotating the camera :smile:

I exported a still frame from the file with camera interpolation and it worked well.

**However** I have found a consistent crash when exporting still images t

[2017-10-28 23:30] Kaikogf commented on #768
Hi all

I was waiting for new changes to the Pencil2D code here in order to check if this Issue was still present.
I am now testing the latest ZIP file's changes (28OCT2017) and I can confirm that this Issue is no longer there. So I will close this post and add another post for "Request" changes on the sound file to be followed by a warning pop-up window before closing Pencil2D

I have tested it w

[2017-10-28 23:30] #768 closed

[2017-10-28 23:42] Kaikogf opened #771 "[REQUEST] Triggering a poop-up window (save before closing) when interacting with timeline"
### --Issue Summary--
when adding a new sound layer, and importing a sound file and playing back with it and then decide to close Pencil2D, it will not ask for saving the actual changes and will close immediately.
### --Actual Results
Pencil2D will close immediately regards changes on the sound file layers

### --Expected Results--
A pop-up window warning of changes on the timeline.

[2017-10-29 09:57] chchwy commented on #771
This is a part of undo/redo improvements, will put this into the 0.7 plan.

[2017-10-29 11:07] #770 closed

[2017-10-29 11:14] chchwy commented on #770
Fixed in 29 Oct version

[2017-10-29 11:16] chchwy commented on #765
@Jose-Moreno Thanks for your time :) I'm going to close this.

[2017-10-29 11:16] #765 closed

[2017-10-30 06:03] #522 closed

[2017-10-30 06:04] #141 closed

[2017-10-30 11:05] #736 closed

[2017-10-30 11:07] chchwy commented on #736
Fixed in 30 Oct version

[2017-10-30 20:46] Jose-Moreno opened #772 "[BUG] Vector Layer strokes not saving pressure data or line width."
### --Issue Summary--
Today I provided support for a user who's been using old Pencil versions and wanted to upgrade and use the newest ones.

However after saving some copies they swiftly told me that they had an issue where all the vector artwork line weight had been lost (all lines had a uniform line width).

I can confirm this issue exists in every version from 2017 I've tested so far (from Ma

[2017-10-30 21:11] Jose-Moreno commented on #755
@Kaikogf @chchwy Hi. I'm sorry to repeat myself, but this is not a bug. If you use Toonboom Harmony 15 or even older versions, this will happen as well. It's intended behaviour when you work with global color palettes for even a small production. Vector color has to be fully editable. bitmap not so much as it's used for sketching or artistic painting.

I understand it's hard to get away from the w

[2017-10-31 00:36] chchwy commented on #755
Thanks for your detailed explanation @Jose-Moreno.

I understand it is a very useful feature. Since the colour palette is dedicated to vector layers, the question here is the feature which allows us to change a colour later isn't work on Bitmap layer.

So what I'm going to do is "detaching" the connection between a bitmap pen tool and the colour palette. The colour changes won't affect other vecto

[2017-10-31 01:17] Kaikogf commented on #755
I think I understand what you are talking about @Jose-Moreno. Still I find it confusing that is why I called it an Issue. Anyway thank you for your explanation 👍

@chchwy
"So what I'm going to do is "detaching" the connection between a bitmap pen tool and the colour palette. The colour changes won't affect other vector layers when a user is working on a bitmap layer". 👍
I start to remember reading

[2017-10-31 05:01] chchwy commented on #546
I can replicate it with 31 Oct version, i'm on it.

[2017-10-31 05:21] #546 closed

[2017-11-01 00:10] #772 closed

[2017-11-01 02:13] chchwy commented on #755
Fixed in 1 Nov version

[2017-11-01 02:14] chchwy commented on #772
Fixed in 1 Nov version

[2017-11-01 02:15] chchwy commented on #546
Fixed in 1 Nov 2017 version

[2017-11-01 02:25] chchwy commented on #505
Just keep everyone posted.

The nightly build 1st Nov is our second release candidate.
We will release it as our 0.6 If no deal-break issues are found before next Monday.

[2017-11-01 02:30] chchwy commented on #635
@Projectashgreninja
The recent pencil2d version has improved a lot in many ways. Also I believe 0.6 will be released soon.
Please try the nightly builds out and tell us what you think.

I'm going to close this issue, thanks.

[2017-11-01 02:30] #635 closed

[2017-11-01 18:32] Jose-Moreno opened #773 "[BUG] Autosave feature disabled"
### --Issue Summary--
After some reports where people have been losing work after unexpected black outs or computer malfunction, yet it seemed they lost work from the last time the "manually saved" I decided to investigate this issue.

As it turns out despite the auto save feature being turned on by default, nothing you do on Pencil2D will trigger it.

I tried creating layers, frames, drawing on b

[2017-11-02 01:29] chchwy commented on #505
@J5lx Thanks for your suggestions, I think it's a good timing to migrate our translation platform from OneSky to Transifex.
Could you please add me to the Transifex project so that I can upload/download ts files?

[2017-11-02 05:44] chchwy commented on #755
@Kaikogf please try this out and tell me what you think if you have time. :D

[2017-11-03 02:20] Jose-Moreno opened #774 "[BUG] Graphic glitch when using move tool to clear selection"
### --Issue Summary--
Issue No.1
Ok, I was working on a project I was sent and needed to use Pencil2D. So using the marquee tool I began cutting, pasting and moving. But after a few frames I noticed that somehow a portion of the same frame was copied onto the lower right corner of the image.

After investigating thoroughly, I noticed that when you create a marquee selection, and click outside the

[2017-11-03 04:08] chchwy commented on #237
No longer an issue in 1 Nov 2017 version. Going to close this.

[2017-11-03 04:08] #237 closed

[2017-11-03 04:18] chchwy commented on #251
Hi @philipzae if you are still interested in Pencil2D, please try our recent nightly builds:
http://pencil2d.github.io/download/
I believe the stability has been improved.

I'm going to close this issue, thanks.

[2017-11-03 04:18] #251 closed

[2017-11-03 08:02] CandyFace commented on #683
I've noticed recently that you've been making some style changes @chchwy, specifically it seems you've changed your stance on 3. **One space each (i)** to no spaces.

am I correct in that assumption?

[2017-11-03 08:19] chchwy commented on #683
@CandyFace  yes, it's correct. :)

[2017-11-03 08:46] scribblemaniac opened #775 "[BUG] Scrolling affects camera layer when new file created"
### --Issue Summary--
Whenever a new file is created from the menu (not at startup), then scrolling the mouse wheel zooms the camera, even though the bitmap layer, not the camera layer, is selected in the timeline. Selecting another layer, then reselecting the bitmap layer fixes this issue.

### --Actual Results--
The camera zooms in/out when the mouse is scrolled, as if the camera layer was selec

[2017-11-03 10:06] #775 closed

[2017-11-03 10:09] chchwy commented on #775
Fixed in 3 Nov 2017 version.

[2017-11-03 13:27] philipzae commented on #251
Thanks for creating appimages. :D

[2017-11-03 21:10] J5lx commented on #505
@chchwy I added you as a project maintainer. Great to see this make progress!

[2017-11-03 21:13] J5lx commented on #683
I updated the spreadsheet and the summary post. I should really try and find the time to get this going again. Not to mention the exporter…

[2017-11-04 02:21] Kaikogf commented on #755
I will test it on the following days @chchwy. Thank you

By the way there is a bug that keeps opening a windows (like the one when importing images/sound). It is not consistent though but I will try to get it right.

[2017-11-04 02:24] Kaikogf commented on #774
@Jose-Moreno  I also got the same behaviour

[2017-11-06 06:02] chchwy commented on #773
Fixed in 6 Nov 2017 version

[2017-11-06 06:02] #773 closed

[2017-11-06 06:05] chchwy commented on #732
Duplicated issue of #755

[2017-11-06 06:05] #732 closed

[2017-11-06 06:18] chchwy commented on #525
Hi @AngieIsWeird,
If you are still interested in Pencil2D, please try our recent nightly build: <http://pencil2d.github.io/download/>. It has been improved and got a bunch of bug fixes.

Feel free to open another issue if something still goes wrong. I'm gonna to close this :)

[2017-11-06 06:18] #525 closed

[2017-11-06 06:26] chchwy commented on #491
Hi @dogenzip,
If you are still interested in Pencil2D, please try our recent nightly build: http://pencil2d.github.io/download/. It has been improved and got a bunch of bug fixes.

I believe the issues you mentioned 1. slow stroke 2. toolbox disappearing have been fixed.
And any problem with opening an old pencil file, please send it to me chchwy (at) gmail.com I will take a look at it.

Feel free

[2017-11-06 06:26] #491 closed

[2017-11-06 06:49] chchwy opened #779 "Nightly builds for Linux are not uploaded to Google drive"
Just took a look at our nightly build folder <https://goo.gl/NQuJYr>

The last AppImage for linux was uploaded on 28 Oct, cannot find any newer versions.
We can find the latest 6 Nov builds for Mac & Win but no Linux.

[2017-11-06 17:47] J5lx commented on #505
@chchwy I just figured out I can add you as organization administrator as well, so I did that. So basically you should now have full control over everything Pencil2D on Transifex.

[2017-11-07 00:20] chchwy commented on #505
Thank you @J5lx  I'm going to sync ts files and then we can deprecate OneSky.

[2017-11-07 00:26] chchwy commented on #505
@Jose-Moreno @scribblemaniac  @J5lx  @CandyFace  @gordielachance
Alright, the nightly build 7th Nov 2017 will be our third release candidate (hopefully the final one).
It will be released as official 0.6 on next Monday If no deal-break issues are found.

[2017-11-07 00:53] Jose-Moreno commented on #505
@chchwy Alright. Will test to see if there's anything that breaks. If things seem good then hopefully we can move forward and start thinking on the much needed features that are already half way done, along others you all have suggested in the past.

Congratulations to everyone for the hard work and hopefully with this we can finally begin to pave the way in order to go beyond the old Pencil and m

[2017-11-07 04:43] Kaikogf commented on #755
@chchwy
I have tested it with the last version **Nov 7 2017** and it is working very well Thank you for the changes! 👍
If working on a Vector Layer and then changing to a Bitmap layer, it will no longer affect any colour used on the Vector layer.

When strictly using vector layers, it will behave as @Jose-Moreno explained above, so it is working OK

[2017-11-07 04:46] Kaikogf commented on #732
Yes, it was a kind of duplicated issue 👍

[2017-11-07 04:54] Kaikogf opened #782 "[BUG] Pencil2D keeps opening a "save changes" window after some clickings on the canvas"
### --Issue Summary--
The title says it all

### --Steps to reproduce--
Just open Pencil2D and tip several times on the canvas (around six times will trigger the issue): Pencil2D will open a window for "saving the animation" (?)
Close the window and repeat the steps again

### --System Information--
+ Pencil2D Version:
Version used: **_Nightly Build Nov 7 2017_**

+ Operating System:
Windows 8.1

[2017-11-07 05:01] Kaikogf opened #783 "[ISSUE] The Pencil and Bucket tools have their properties changed on the Vector Layer"
### --Issue Summary--
The pencil and Bucket tools have changed their properties when working on Vector Layers (the Pencil behaves as a bucket tool and vice-versa)

### --Actual Results

### --Expected Results--

### --Video or Image Reference--

### --Steps to reproduce--
Open Pencil2D
Select the VECTOR layer
Go and select the **Bucket tool**: its properties on the Option's panel will show the _Pe

[2017-11-07 05:05] Kaikogf commented on #744
A similar behaviour from **_Nightly Build Nov 7 2017_**

Selecting a different "Interpolation feature" (on the Option's panel) will not be saved when restarting Pencil2D

[2017-11-07 05:13] Jose-Moreno commented on #782
@Kaikogf This is not a bug, but a rather annoying by product of the autosave feature which wasnt working until now.

The auto save can't work properly unless you save the work for the first time saving every number of strokes (you change this on the preferences). But I did find some bugs with the autosave which I'll report later.

We should also think on how to properly trigger the autosave, becau

[2017-11-07 08:32] CandyFace commented on #783
This is intentional in vector because the pencil tool sort f works as path tool, with the ability to contour fill. The stroke thickness property is also correct, as it controls the thickness of the filled area you've made. When you fill, you can optionally choose the width of the stroke too.

[2017-11-07 08:34] CandyFace commented on #782
Autosave should save automatically and in the background, with no need for the user to do anything, so it's a bug imo.

[2017-11-07 08:40] chchwy commented on #782
But at the beginning, the app has no idea about where to save the file, so the file dialog will pop up at least once. This is inevitable.

[2017-11-07 08:41] CandyFace commented on #782
We could just have a autosave folder in documents or the like under Pencil2D/Autosaves or something and name the saves after the date.

[2017-11-07 08:58] scribblemaniac commented on #782
Yes, most programs do not autosave to the actual file. If a user opens a file, makes a bunch of changes without saving, and then decides they don't want to save those changes, they would expect that quitting without saving would have not modified the file at all. With the way it is implemented now however, the autosave will have overwritten their file, which is not ideal. It's better than not havi

[2017-11-07 09:18] chchwy commented on #782
So at the moment, the auto-saving is an option in preference. Users can turn it off if they don't want to overwrite current file. If the option is on, users must be aware of the auto-saving is constantly overwriting the file.

And the file saving may take plenty of time especially when there are hundreds of frames. So if the auto-saving goes in the background, we have to deal with data consistency

[2017-11-07 09:25] CandyFace commented on #782
Alright so if we're keeping it this way for now, then it should at least be a choice by the user to save and thus enable autosave or not. The window shouldn't popup by itself, as the user won't understand the behaviour.

[2017-11-07 09:30] mapreri opened #784 "allow to link against system zlib"
I'd like to link against the system-wide zlib instead of using the embedded code copy.

In Debian we repack pencil2d to remove the embedded library (because it's very discouraged by policy, for good reason if I might add).
I came up with [a patch](https://anonscm.debian.org/git/collab-maint/pencil2d.git/tree/debian/patches/remove-zlib.patch?h=debian/0.5.4%2bgit20171107.7e7aff7%2bds-1) (yes, I know

[2017-11-07 09:43] scribblemaniac commented on #784
Déjà vu: #530. Still relevant though.

[2017-11-07 09:45] chchwy commented on #784
I have a plan to replace the zlib+Quazip with a more lite-weight compression lib called [miniz](https://github.com/richgel999/miniz) in the near future. The lib has only 2 files so that we can easily embed it into our project. Then we don't have to worry about this issue anymore

[2017-11-07 09:46] CandyFace commented on #782
@scribblemaniac i'm saying that even if we have a toggle to enable autosave in preferences, it should still be up to the user when the first autosave should happen. I agree that it creates the potential problem of the user forgetting to save the first time, risking their work being deleted but it's less verbose than triggering a popup out of nowhere.

if the user has no intention of saving in the

[2017-11-07 09:51] mapreri commented on #784
oops. Yeah, that. It felt odd that I've never forwarded it, I've now added a note with that bug.

mhhh, please feel free to close this one as a duplicate then :\

[2017-11-07 09:52] #784 closed

[2017-11-07 09:54] mapreri commented on #784
That might be good enough indeed.
I still wouldn't particularly like embedding sources from other projects, but that would be better than the whole zlib and (a patched!) quazip.

[2017-11-07 09:56] chchwy commented on #782
Maybe we can pop up a dialog when a user clicked `new document`, and ask the user whether he/she want to enable auto-save or not. (Most of painting softwares have a pop-up dialog before you can actually draw something).

[2017-11-07 10:07] CandyFace commented on #782
Asking the user, no matter when, to save their document is not ideal imo. There are plenty of times where one opens a document, makes some doodles and closes it again without saving. If autosave adds this behaviour, then it should be clarified that the user will be forced to save their (empty document) when they create it. To be that seems unnecessary.

I would rather control myself when to save a

[2017-11-07 10:20] MarcelWeijenberg opened #785 "Can't save file"
Even in admin mode (windows10) i get
Invalid Save Path
The file path you have specified ("D:/1.pcl") cannot be written to, so the file cannot be saved. Please make sure.......

[2017-11-07 10:22] CandyFace commented on #785
Hi Marcel

Have you tried writing to other folders? Do you get the same message if you save to your desktop?

[2017-11-07 10:27] chchwy commented on #785
Hi @MarcelWeijenberg
Please make sure you are using the nightly build 7th Nov 2017 version. The file saving was accidentally broken in the 6th Nov 2017 version but has been fixed now.

[2017-11-07 11:18] MarcelWeijenberg commented on #785
Hi chchwy. That could be the solution but now the file is blocked bij AVG so i can't check it.

[2017-11-07 13:20] J5lx commented on #784
And there I started experimenting with using system libs just two days ago :) @chchwy How near is “near future”? Would it make sense to work on a patch for system-wide quazip+zlib in the meantime or would that just be a waste of effort?

[2017-11-07 17:42] Jose-Moreno opened #786 "[BUG] Autosave cannot be turned off in preferences"
### --Issue Summary--
Autosave Is working as expected, but after experiencing the behavior referenced in #782 I tried to turn the autosave feature off. However when I unchecked the box it would continue to bring the autosave function regardless of being turned off. Even in the regedit key the program recognized it was turned off, but it kept working as if it was turned on.

### --Expected Results-

[2017-11-07 17:53] Jose-Moreno opened #787 "[BUG] Autosave feature working on global scope instead of document"
### --Issue Summary--
While testing the autosave feature, I noticed that the stroke count scope is not local to the document but to the program. So the number of strokes is kept globally while Pencil2D is open and will be shared between documents / files. If Pencil2D is closed the stroke count is reset.

### --Expected Results--
Autosave should be relative to each individual document and the strok

[2017-11-07 17:57] Jose-Moreno commented on #785
@MarcelWeijenberg Normally both Windows and AVG are very paranoid with ZIP files. If you download the ZIP files from the the Google Drive you can tell AVG to make an exception of that file as described in the following article:

https://support.avg.com/SupportArticleView?l=en&urlName=How-to-exclude-file-folder-or-website-from-AVG-scanning

For Windows part, right click on the file properties to "u

[2017-11-07 19:29] Jose-Moreno opened #788 "[BUG] Pencil2D Crash when creating new file after using specific commands"
### --Issue Summary--
This is a very specific crash that occurred to me while testing Pencil2D and it involves creating a new file after a new bitmap layer, and using the smudge tool.

The first time I got a log file that described that **QtCore.dll** was at fault, but after the first time and investigating the issue I can crash Pencil2D pretty consistently however the module at fault that is alwa

[2017-11-07 19:47] scribblemaniac commented on #788
Replicated on macOS 10.13.1. Relevant portion of the debugger stack trace:
[code]

[2017-11-07 19:49] Jose-Moreno opened #789 "[BUG] Move tool autosave modifications requirements change after using vector tools."
### --Issue Summary--
I honestly don't understand why the move tool / black arrow tool "click" event on the empty canvas is considered a "modification" but, if there's any odd behaviour to be reported is that after using a vector tool on a vector layer, clicking is not following the modifications number set in the preferences. This happens on both bitmap and vector layers after using the vector to

[2017-11-07 20:36] Jose-Moreno opened #790 "[BUG] Clear Image command affecting Undo for previous drawing function"
### --Issue Summary--
The Clear Image command (invoked via CTRL+D , using paper button) or Delete Selection command (pressing backspace inside a selection) does not allow for UNDO operations on the bitmap and vector layers despite being added to the undo stack.

However, this seems to affect only the previous stroke. If you create many strokes and Clear the Image in any way, and you navigate throu

[2017-11-07 23:35] scribblemaniac commented on #744
The panel layout is saving fine for me, including the height of the other panels. Can you provide some specific steps to replicate?

As for the changes within panels, I agree most of these should be saved, but it would be better if we did that after refactoring the Preferences module. I don't think the starting color should be saved though, and I can't think of any other programs which do that eit

[2017-11-07 23:38] chchwy opened #793 "Qt version for 0.6 release"
This is a follow-up of #776

The supported platforms of all Qt 5 versions.
https://doc.qt.io/qt-5/supported-platforms-and-configurations.html

And here a list of platforms which are supported in 5.6 but **not** supported in 5.9:
- Windows XP & Vista
- Mac OS 10.8 10.9
- openSUSE 13.1, Ubuntu 14.04

I believe the user groups of these platforms are relatively small but still there, especially like U

[2017-11-07 23:45] mapreri commented on #793
I agree.  As long as it keeps compiling with Qt 5.6 (even with extra flags disable extra features) that's cool.

I'm not providing binaries for e.g. ubuntu 14.04, but I do for other projects and it's very bothersome when a project drops support for a (not so) old Qt.

[2017-11-08 00:15] scribblemaniac opened #794 "Use feather not applied to eraser tool"
### --Issue Summary--

The Use Feather option does not seem to affect the eraser tool.

### --Actual Results

When using the eraser tool, even if the Use Feather checkbox is unchecked, it still feathers the output. This is not an anti-aliasing issue, as the result is the same with or without that checked as well.

### --Expected Results--

When Use Feather is unchecked, the output should not be fe

[2017-11-08 00:36] chchwy commented on #786
What a shame when I said it's an option that can turn off but it is not really off :p
I'm going to work on this.

[2017-11-08 01:14] #786 closed

[2017-11-08 01:46] chchwy commented on #784
@J5lx I will do that as soon as 0.6 is out.

[2017-11-08 01:50] #788 closed

[2017-11-08 02:16] #790 closed

[2017-11-08 03:09] Kaikogf commented on #783
@CandyFace
Oh I see.

I played with the drawing tools on vector layers and I must confess that it is all too much for my head.... jejeje.... I just love bitmap tools 👍

[2017-11-08 03:09] #789 closed

[2017-11-08 03:14] chchwy commented on #789
Two changes:
1. Using move tool on vector layers now counts only one autosave step.
2. Clicking on an empty canvas doesn't increase autosave steps anymore.

[2017-11-08 03:20] Kaikogf commented on #782
Glad you all agree to agree :)
👍

Best regards

[2017-11-08 03:31] chchwy commented on #789
Please test this in 8th Nov 2017 version.

[2017-11-08 03:32] chchwy commented on #790
Please test this in 8th Nov 2017 version.

[2017-11-08 03:32] chchwy commented on #788
Please test this in the 8th Nov 2017 version.

[2017-11-08 03:33] chchwy commented on #787
Please test this in the 8th Nov 2017 version.

[2017-11-08 03:33] chchwy commented on #786
Please test this in the 8th Nov 2017 version.

[2017-11-08 03:46] Kaikogf commented on #744
Do you mean the starting colour to be always Black? I agree. I just mention that the black colour was used as default starting colour

My last comment was referring to changes within the **_Options_** 's panel: the selection made on the new bar "No Interpolation or Simple Line Interpolation or Strong Line Interpolation" will not be saved when restarting Pencil2D. Meaning that when selecting _Stron

[2017-11-08 05:03] Jose-Moreno commented on #793
@chchwy @mapreri I agree as well. As someone else said, the complaints about compatibility are sparse. I'll share as well the preliminary result to the survey we pushed through the social networks. I'would leave it run for a few more weeks, but it is clear the users with older systems are on the fringe as we had thought initially.

https://docs.google.com/spreadsheets/d/1omMhI8ofMRBaxCnJkY8kZZHzF5

[2017-11-08 08:10] MarcelWeijenberg commented on #785
It took about 20 minutes for AVG to trust the file but all works fine now.
Thx!

[2017-11-08 08:18] CandyFace commented on #793
Sounds good to me 👍

[2017-11-08 10:22] #183 closed

[2017-11-08 12:55] chchwy commented on #785
Happy to hear that!

[2017-11-08 12:55] #785 closed

[2017-11-08 15:01] Jose-Moreno commented on #790
@chchwy Confirmed working on case scenario.

[2017-11-08 15:03] Jose-Moreno commented on #788
@chchwy Confirmed working on case scenario on Windows 7. Hopefully someone can test this again on MAC / Linux.

[2017-11-08 15:05] Jose-Moreno commented on #787
@chchwy Confirmed working on case scenario. Thanks a lot for the hard work!

[2017-11-08 15:06] Jose-Moreno commented on #786
@chchwy Confirmed working on case scenario. Thanks a lot!, I didn't know about it either until I wanted to turn it off haha :smile:

[2017-11-08 15:33] Jose-Moreno commented on #789
@chchwy I can confirm the following:

1.  Change no. 1 is working exactly as described. That is when moving the artwork visually it counts as one autosave step.

Notes:
- When you click inside the selection zone without moving the selection, it executes the "move" command as well. This is not bad, and I'm sure it's needed for the function to work.

2. I can also confirm No.2 works as described on

[2017-11-08 16:32] Jose-Moreno commented on #314
@chchwy @CandyFace should we close this one? I'm not having issues with the vector layer performance on the latest version for Windows 7, but if someone can try on Windows 10, and MAC to confirm it would be appreciated.

[2017-11-08 16:33] Jose-Moreno commented on #314
@chchwy @CandyFace Although I forgot to mention that someone recently mentioned that they had a slowdown on playback speed while using exclusively vector layers if you want to check out the claim it's on the forum here:
https://www.pencil2d.org/forums/topic/speed-slows-down/

[2017-11-08 16:36] Jose-Moreno commented on #735
@chchwy @Kaikogf I honestly think, we should leave them considering they are part of our future targets. Things like SVG support for import/export, X-Sheet export, Live / Cache Preview have been very much requested features for a number of years.

[2017-11-08 16:37] CandyFace commented on #314
i think it's safe to assume that this doesn't happen anymore. I haven't experienced a hang using the tools for a very long time, so in my opinion, we should be able to close this.

[2017-11-08 16:58] Jose-Moreno commented on #317
@pinkfoot @desttinghim Greetings gentlemen, during the second quarter of the present year 2017, Pencil2D team has been creating APPIMAGES (executable files) to allow for easier ways to run Pencil2D on Linux, particularly Debian-based distributions. The Preference Shortcuts have been fixed almost in their entirety, and quite possibly this older issue you reported has been as well along that.

I'm a

[2017-11-08 17:44] J5lx commented on #317
@Jose-Moreno Slightly off-topic, but AppImages are (meant to be) completely distribution-agnostic, so there is no bias towards Debian-based systems or anything. It should work equally well on all distributions.

[2017-11-08 17:47] Jose-Moreno commented on #317
@J5lx Thanks for the info! I had read before that they were created for Debian based distros, so I kept that in my head. But if they are distribution-agnostic as you said, more the better. The more you know~ Thanks again! :smile:

[2017-11-08 20:58] scribblemaniac commented on #735
@Jose-Moreno However, if they're in the menu then people might think that they have already been implemented and would expect the shortcuts to work.

[2017-11-08 21:00] CandyFace commented on #735
I agree with @scribblemaniac we should hide these shortcuts for now. Something like not implemented shortcuts and the like is not something you want to have lying around in a stable release.

[2017-11-08 21:01] Jose-Moreno commented on #735
@CandyFace @scribblemaniac That is true. Since I'm not aware of the difficulties of implementing these features, I assumed it would be a wasted effort to remove these now only to re-activate them later along with the full feature. But I guess it's better to just leave the specific working features to avoid confusion.

[2017-11-08 21:04] Jose-Moreno commented on #540
@chchwy @CandyFace @scribblemaniac @J5lx Hey, so in the past most of you sent me a few suggestions on which features we should prioritize past 0.6 So I created a temporary spreadsheet to visualize these suggestions which overlapped in many cases.

I'm only missing CandyFace's suggestions but anyone else can comment freely so if you have anything else you feel like it should be prioritized please f

[2017-11-08 21:28] Jose-Moreno opened #795 "[BUG] Creating new file while selecting newly created color on palette crashes Pencil"
### --Issue Summary--
Pencil2D crashes consistently after creating a new file when creating a new color in the color palette.

### --Steps to reproduce--
1) Open Pencil2D
2) Create a new color, it doesn't matter if it has the same name, or a different name, or the same color. This is irrelevant to the bug. KEEP the color selected i.e don't select anything else.
3) Immediately after creating the co

[2017-11-08 21:40] Jose-Moreno commented on #774
I'd like to report and additional test case which depends on this issue and is far more aggravating on actual production:

After selecting artwork on a bitmap layer, if you move the artwork once and click outside the selection, what happens is that the selection will disappear but the glitch will intensify so if you click anywhere on the canvas will create a new copy of the graphical artifact corr

[2017-11-08 21:55] Jose-Moreno commented on #795
It seems any color created beyond the default palette will crash Pencil2D if they are selected while either a) creating a **new file** or b) opening a file via the **open file** OR **open recent file** commands.

However if you select the offending custom colors the file will save normally. (Save operations do not crash, but might be worth taking a look)

Additional test case:

1) Create a new col

[2017-11-08 21:56] desttinghim commented on #317
@Jose-Moreno I'll give it a look, though it's been a while since I've tried any animating.

[2017-11-08 22:04] Jose-Moreno opened #796 "[BUG] Pencil2D does not save color palette alpha values on file."
### --Issue Summary--
Alpha value of any color, even default, is not saved in the file, and will be reset everytime you open the file again.

### --Expected Results--
Saving RGBA information should be done properly since the user expects to have the same transparency values on custom colors the next time they are operating the software.

### --Steps to reproduce--
**Note**: Due to the recent chang

[2017-11-08 22:19] Jose-Moreno commented on #755
@Kaikogf @chchwy I know this was solved, but I still think we might need to work a better solution for the palette to work with the bitmap layer as well. Maybe create a virtual copy of the current palette for both layers, Or at least to have a separate "bitmap swatch panel" for the bitmap layer.

As a USER this is what happened to me just today. When I was working earlier, I wanted to organize the

[2017-11-08 22:21] Jose-Moreno commented on #317
@desttinghim Thanks a lot for testing it out! Hopefully the OP have some spare time to test in order to finally close this. But your confirmation is a huge step forward. Cheers~

[2017-11-09 00:49] #795 closed

[2017-11-09 00:49] #796 closed

[2017-11-09 02:56] chchwy commented on #774
I'm not able to replicate Issue 1, must be fixed in previous modifications.

[2017-11-09 03:00] scribblemaniac commented on #774
Just tried it on master. I can still replicate it on macOS 10.13.

[2017-11-09 03:20] chchwy commented on #774
About issue 2, I cannot really say it is a bug.

It exposes the mechanism underlying the canvas: pencil2d doesn't always create a fixed size canvas for every keyframe. The size of keyframe varies. It starts with a minimal 1x1, and then extends to fit actual needs.

When you use the move tool to move strokes around, the canvas size is extending. And that's why the area of "Select All" becomes bigge

[2017-11-09 03:21] chchwy commented on #774
@scribblemaniac  woooops...let me try again on mac

[2017-11-09 14:21] Jose-Moreno commented on #774
@chchwy @scribblemaniac I can still replicate Issue 1 in Nov8th in Windows 7. Do you have other version I can try out?

Regarding the the second issue I agree is not that bad...but when copying and pasting elements to the user it will look as if you're copying the transparency of the canvas as well and this can be confusing. A workaround for the user is to simply use the marquee tool manually to s

[2017-11-09 22:27] chchwy commented on #774
Alright, I can replicate Issue 1 & 3 now. Still looking into them.

[2017-11-09 22:31] chchwy commented on #795
Fixed in 10th Nov 2017 version.

[2017-11-09 22:31] chchwy commented on #796
Fixed in 10th Nov 2017 version.

[2017-11-12 12:52] J5lx commented on #558
Hello again, I just took the time to set up a discourse test instance for Pencil2D on my server, so we can have a closer look at it. There’s still some room left for adjusting it to our needs (i.e. replace the default logo, sifting through that giant heap of options the software provides, etc.), but I think it’s now at a stage where at least all the functionality is working and stuff like that. I

[2017-11-12 18:01] Jose-Moreno commented on #558
@J5lx That's amazing man! thank you so much for taking the time to do this! Looks really modern and professional :smile:

[2017-11-12 23:33] chchwy commented on #558
@J5lx Tha't cool man, I can't wait to give it a try. But at the moment, I am not able to get an activation email, have waited for an hour, not in spam either. (cry

[2017-11-12 23:41] J5lx commented on #558
Yeah, all the mails that were sent to you got bounced. It seems that you misspelled your mail address (chhcwy instead of chchwy). I corrected it for you, so you should get your activation mail now.

[2017-11-13 00:05] chchwy commented on #558
damn, i'm stupid. Thanks @J5lx

[2017-11-13 05:44] Jose-Moreno opened #797 "[BUG] Fast clicking/tapping stylus causes unexpected full pressure brush dabs"
### --Issue Summary--
A lot of times when drawing fast, I tend to click or double-clicking or tap my stylus really fast on the canvas, but this will produce full pressure sized stroke dabs. This is a very annoying issue when you draw fast, and particularly when you are trying to draw clean artwork in an efficient manner. Also, no other graphic software that I have installed, commercial or open-sou

[2017-11-13 10:14] #797 closed

[2017-11-14 11:21] #774 closed

[2017-11-14 11:32] chchwy commented on #774
Fixed in 14 Nov 2017 build.

[2017-11-14 12:36] chchwy commented on #782
Hey guys,

In the 14 Nov 2017 build, I added a **"Never ask again"** button on the autosave reminder. So if you are working on an unnamed new animation, the reminder will no longer annoy you after pressing the "Never ask again".

I think it's a compromise before a proper crash recovery is implemented in the coming future.
Please let me know If you have any better ideas. I'm gonna to close this iss

[2017-11-14 12:36] #782 closed

[2017-11-14 12:42] chchwy commented on #505
After resolved #774 #797 #782,  now the 14 Nov 2017 build is our 4th release candidate.
The scheduled release date is next Monday, which is 20 Nov.
Hope everything goes well. ;)

[2017-11-14 13:28] J5lx commented on #505
Yeah, hopefully we won’t need another rc :) While we’re at it, how about introducing tags? Not just for the final releases but also release canditades and such (which GitHub allows to explicitly flag as pre-releases). Then we could attach the appropriate binary builds to them and make them more visible (and also make it clearer that they are in fact release candidates that will soon be followed by

[2017-11-14 13:52] CandyFace commented on #505
Upon initial inspection it looks good to me, nice work! What about the smudge trailing white color bug #720 are we going to leave in the stable release..?

[2017-11-14 16:52] Jose-Moreno commented on #505
Thanks @chchwy I'll test right away!

Also agreeing with @J5lx on the tags, I requested to use the release tags here #560 a while ago, and I think it's good for the project to begin using them.

Regarding the bug / odd behavior that @CandyFace referenced I agree that currently the tool is currently not usable in bitmap workflows.
I understand it was untouched since we've been considering the mypai

[2017-11-14 17:07] Jose-Moreno commented on #597
I'll be adding some recent forum threads of people with similar issues to help establish the priority of this request:
https://www.pencil2d.org/forums/topic/pencil2d-on-surface-pro-3/
https://www.pencil2d.org/forums/topic/change-ui-size/
https://www.pencil2d.org/forums/topic/program-not-displaying-correctly-on-my-hdtv/#post-29942

[2017-11-14 20:17] J5lx commented on #505
IMO: Just put it in a Known Issues section for the release, maybe with an explanation of why we haven’t attempted a fix (→MyPaint). Sure, it’s broken, but it’s not the it-makes-me-wanna-ditch-the-whole-program kind of broken (unlike crashes etc.), and it’s not like we’re attempting a one-and-only, perfect release here. If anything, disable it, but that might look like it’s been removed from bitmap

[2017-11-14 21:51] scribblemaniac commented on #793
I do agree that we should try to support 5.6, at least for the moment, however one important thing to consider is testing. If we advertise that we support these older platforms, then we should have a way to test the application on those platforms and debug any issues specific to those platforms. The linux versions are not an issue as we can easily virtualize them, but Mac OS X and Windows will be

[2017-11-14 22:29] chchwy commented on #505
Good suggestion @J5lx, will do a pre-release on Github.

I'll leave smudge tool as a known issue. Don't worry. 0.6 is not a final version, more fixes will come with 0.6.1, 0.6.2... soon.

[2017-11-14 22:42] #794 closed

[2017-11-14 22:55] chchwy commented on #793
FFmpeg is definitely a problem. (sign

Since pencil2d is an open source project with 100% volunteers, I'm afraid we can't guarantee it will work on these older platforms. I think we can provide a tentative binary along with 0.6 and ask for people's help. To see If any xp/vista or macOS 10.9 users want to help.

[2017-11-15 02:13] #680 closed

[2017-11-15 02:51] chchwy commented on #680
Happy to hear that @aprekates, hope you enjoy using Pencil2D  :)

[2017-11-15 03:03] Kaikogf commented on #774
What a Great Improvement Pencil2D has got lately @chchwy

I haven't tested extensively this new build yet (I will in a few days) but so far it is kind of stable and with lot of good things (like the fixing of this issue) 👍

Great!

[2017-11-15 03:15] Kaikogf commented on #782
Simple and efficient idea for this "issue".

I believe it is the best solution in case someone will check the auto-saving without knowing exactly how it is going to work.
And to be honest @Jose-Moreno was the one to point exactly the real issue behind this behaviour: the check box for auto-saving was always on... 👍

[2017-11-15 04:45] chchwy opened #800 "Roadmap of 0.6.x and follow-up tasks"
Hey guys,
@Jose-Moreno @CandyFace  @scribblemaniac  @J5lx  @feeef  @Kaikogf @gordielachance

In the days of waiting for 0.6 official release, it's time to discuss what we can do next in 0.6.x patches.

This roadmap will more focus on stability, robustness and performance issues. I would like to put new features into 0.7 rather than a 0.6.x patch. Still, any suggestion/discussion are welcomed.

# 0

[2017-11-15 05:51] Jose-Moreno commented on #800
@chchwy Thanks a lot for this write up. First of all let me state that I think what you have proposed serve as great targets, particularly considering the amount of grief users have had in the past, memory optimization it's a must at this stage. Crash Recovery is also a good one, because let's face it, no application is crash free, and this will go in hand with memory usage optimization.

However,

[2017-11-15 07:55] chchwy commented on #584
Dear all,
I've updated all public download pages from the shitty 0.5.4 to latest 0.6-rc.

Please check:
http://pencil2d.github.io/download/
https://www.pencil2d.org/

Then we can close this issue, cheers.

[2017-11-15 07:55] #584 closed

[2017-11-15 08:44] CandyFace commented on #793
If we ever get to a point where a bug is certain to only appear on an older platform, then we can setup a virtual machine. I've done that with OS X so it's possible, it's just fiddly to get up and running.

When that's said though, having builds available for legacy users is one thing but supporting them is another. Given that we're open source, and a small team, I don't think it's realistic to sa

[2017-11-15 09:10] CandyFace commented on #800
These are some good milestones you've set @chchwy my only addition to this would be documentation, and that should be on-going. The codebase can be really confusing sometimes, and this can make it really unattractive to new potential developers hoping to join the project. So my rule of thumb would be, whenever you work on a method, document it.

We don't have to document each and every method when

[2017-11-15 18:26] CandyFace commented on #578
I like the idea, it's similar to how strokes are being rendered in Disney's amazing in-house vector drawing application Meander.
https://www.disneyanimation.com/technology/innovations/meander

If it were to work just as good or better than bitmaps, then there would be no reason to keep old layer types at all though, we would instead merely refer to "layers" which would simplify the UI a lot.

Alth

[2017-11-15 18:45] J5lx commented on #540
A while back there was some discussion on making #pencil2d (without the second #) on freenode our official IRC channel again (see https://github.com/pencil2d/pencil/issues/540#issuecomment-257096674). If that is still a thing it’d probably be a good idea for some of the people actually using IRC actively (i.e. me, @CandyFace or maybe @scribblemaniac who made that discord-irc-bot just recently)  to

[2017-11-15 18:48] Jose-Moreno commented on #540
@j5lx Actually now that you mention it, I think it is the same person! I totally forgot to ask him about that since it had been discussed before, but I never got to contact him until he contacted us back while setting up the discord server. I think it's worth a shot so you guys have more control over that node as well.

[2017-11-15 19:35] J5lx commented on #540
For the record, Nick has now changed the founder of #pencil2d to @CandyFace

[2017-11-15 23:17] scribblemaniac commented on #540
I have added the discord-irc bot to #pencil2d as well, so both channels are now connected to discord.